@charset "UTF-8";
/**
 * Стили конструктора 3.0
 */
/**
 * Defaults and reset
 */
html, body {
  font-size: 16px;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans',Arial,sans-serif !important; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none; }

:after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  a:active, a:hover, a:link, a:visited, a:focus {
    outline: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

b, strong {
  font-weight: 700; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.disable {
  cursor: default;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: .7; }

/* Preloader */
.preloader-block {
  display: block;
  background: rgba(255, 255, 255, 0.7);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000; }
  .preloader-block.show {
    display: block; }

.preloader {
  display: inline-block;
  position: absolute;
  left: calc(50% - 44px);
  top: calc(50% - 88px);
  width: 88px;
  height: 88px;
  margin: 0 auto;
  border: 4px solid #FF4E3B;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 900ms infinite linear;
  -o-animation: cssload-spin 900ms infinite linear;
  -ms-animation: cssload-spin 900ms infinite linear;
  -webkit-animation: cssload-spin 900ms infinite linear;
  -moz-animation: cssload-spin 900ms infinite linear; }

@keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes cssload-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/**
 * buttons
 */
.save, .print, .delete {
  position: absolute;
  top: 18px;
  display: block;
  cursor: pointer; }

.save {
  left: 19px;
  height: 35px;
  width: 35px;
  background: transparent url(../images/save.png) 0 0 no-repeat; }

.print {
  left: 63px;
  width: 35px;
  height: 37px;
  background: transparent url(../images/print.png) 0 0 no-repeat; }

.delete {
  left: 125px;
  height: 37px;
  color: red;
  text-decoration: underline !important; }

.cb-btn {
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ccc;
  padding: 7px 10px;
  color: #333333;
  cursor: pointer;
  background-color: #fff;
  opacity: 1; }
  .cb-btn:hover, .cb-btn.active {
    background-color: #f75e25;
    color: #fff; }
  .cb-btn.disabled {
    pointer-events: none;
    opacity: .7; }
  .cb-btn.big {
    margin: 15px auto 0;
    display: block;
    text-align: center;
    padding: 20px 5px;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 18px;
    line-height: 1.125rem;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    background: #f75e25;
    width: 240px;
    text-decoration: none;
    border: 0 none; }
    .cb-btn.big:active, .cb-btn.big:hover {
      background: #ff897c; }
    .cb-btn.big.grey {
      background-color: #3E94DC;
      color: #999; }
    .cb-btn.big.back {
      background: url(images/navigation-left.png) 6% 50% no-repeat #e0e0e0;
      padding-left: 2%; }

/* 
Header 
*/
.header {
  margin-bottom: 50px; }
  .header .top-block {
    padding: 20px 20px 0 20px;
    display: inline-block;
    height: 58px; }
    .header .top-block .logo img {
      width: 220px;
      height: inherit;
      background-size: cover; }
    .header .top-block .phone-block {
      text-align: right;
      font-size: 21px;
      line-height: 28px;
      color: #667; }
    .header .top-block .mob-block {
      float: right; }
      .header .top-block .mob-block .mob-link {
        width: 46px;
        height: 46px;
        border: 2px solid #667;
        border-radius: 4px;
        font-size: 28px;
        line-height: 41px;
        text-align: center;
        font-family: 'Font Awesome 5 Free';
        font-weight: 600;
        margin-left: 15px;
        color: #667; }
        .header .top-block .mob-block .mob-link.navigation-link {
          display: none; }
          .header .top-block .mob-block .mob-link.navigation-link:before {
            content: "\f0c9"; }
        .header .top-block .mob-block .mob-link.basket-link {
          display: none; }
          .header .top-block .mob-block .mob-link.basket-link:before {
            content: "\f07a"; }
        .header .top-block .mob-block .mob-link.save-link {
          display: none; }
          .header .top-block .mob-block .mob-link.save-link:before {
            content: "\f0c7"; }
        .header .top-block .mob-block .mob-link.print-link {
          display: none; }
          .header .top-block .mob-block .mob-link.print-link:before {
            content: "\f02f"; }
        .header .top-block .mob-block .mob-link.active:before {
          content: "\f00d"; }
  .header .nav-block {
    float: right;
    width: 71.5%;
    margin-top: 30px;
    padding: 0 20px; }
    .header .nav-block .navigation {
      background-color: #fff; }
      .header .nav-block .navigation .step {
        position: relative;
        cursor: pointer;
        display: table-cell;
        width: 14%;
        text-align: center;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
        .header .nav-block .navigation .step .number {
          background: #177dd2;
          color: #fff;
          font-size: 18px;
          font-weight: 600;
          margin: 0 0 14px;
          display: inline-block;
          line-height: 35px;
          text-align: center;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          z-index: 1000;
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -17px; }
        .header .nav-block .navigation .step .text {
          display: block;
          font-size: 13px;
          line-height: 15px;
          color: #667;
          margin-top: 49px; }
        .header .nav-block .navigation .step::before {
          background: #177dd2;
          right: 37%;
          top: 11px;
          z-index: 0;
          display: block;
          content: '';
          height: 14px;
          width: 100%;
          position: absolute;
          -webkit-transition: .4s;
          -o-transition: .4s;
          transition: .4s;
          pointer-events: none;
          cursor: default; }
        .header .nav-block .navigation .step:first-child::before {
          display: none; }
        .header .nav-block .navigation .step.active ~ .step .number {
          background: #dbdbdb;
          color: #999; }
        .header .nav-block .navigation .step.active ~ .step::before {
          background: #dbdbdb; }
        .header .nav-block .navigation .step.disable {
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          pointer-events: none;
          cursor: default; }
          .header .nav-block .navigation .step.disable .number {
            background: #eee !important;
            color: #ddd !important; }
          .header .nav-block .navigation .step.disable::before {
            background: #eee !important; }
      .header .nav-block .navigation:after {
        content: '';
        clear: both;
        display: block; }
  .header:after {
    content: '';
    clear: both;
    display: block;
    float: none; }

/**
 * Navigations
 */
.navigation-wrap {
  text-align: center;
  margin-top: 12px; }
  .navigation-wrap .navigation {
    display: block;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    padding: 8px 0 9px;
    font-size: 20px;
    font-size: 1.25rem;
    min-width: 120px;
    text-decoration: none;
    margin-bottom: 0; }
    .navigation-wrap .navigation.prev {
      width: 32%;
      background: url(images/navigation-left.png) 10% 50% no-repeat #e0e0e0;
      color: #999;
      float: left;
      padding-left: 3%; }
    .navigation-wrap .navigation.prev:active, .navigation-wrap .navigation.prev:link, .navigation-wrap .navigation.prev:focus, .navigation-wrap .navigation.prev:visited, .navigation-wrap .navigation.prev:hover {
      background-color: #eee; }
    .navigation-wrap .navigation.next {
      width: 15%;
      padding-right: 3%;
      background: url(images/navigation-right.png) 90% 50% no-repeat #177dd2;
      color: #fff;
      float: right; }
    .navigation-wrap .navigation:active, .navigation-wrap .navigation:focus, .navigation-wrap .navigation:hover {
      background-color: #3E94DC; }

.panel-footer-arrow .navigation-wrap .navigation.prev, .panel-footer-arrow .navigation-wrap .navigation.next {
  height: 40px;
  width: 179px;
  padding: 0 !important;
  min-width: 20px !important;
  cursor: pointer;
  line-height: 40px; }

.panel-footer-arrow .navigation-wrap .navigation.prev {
  position: absolute;
  left: 0; }

/* 
	Step 1. Rows
*/
#rows {
  text-align: center;
  margin: 0 auto; }
  #rows h3 {
    font-weight: 600;
    color: #333;
    font-size: 36px;
    line-height: 40px;
    padding: 0 20px; }
  #rows .variants {
    display: block;
    width: 100%;
    margin-top: 6vh; }
    #rows .variants .choice {
      display: inline-block;
      cursor: pointer;
      text-align: center;
      margin: 0 .5%;
      -webkit-transition-duration: .2s;
      -o-transition-duration: .2s;
      transition-duration: .2s;
      -webkit-transition-timing-function: ease-in-out;
      -o-transition-timing-function: ease-in-out;
      transition-timing-function: ease-in-out; }
      #rows .variants .choice .image {
        display: inline-block;
        width: 180px;
        height: 180px;
        border: 1px solid #999;
        border-radius: 50%;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
        overflow: hidden; }
        #rows .variants .choice .image img {
          width: 100%;
          height: auto; }
      #rows .variants .choice .text {
        color: #667;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s;
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 26px;
        line-height: 1.625rem; }
      #rows .variants .choice:hover .image, #rows .variants .choice.active .image {
        border-color: #f75e25;
        -webkit-box-shadow: 0 0 6px 1px rgba(255, 115, 98, 0.8);
        box-shadow: 0 0 6px 1px rgba(255, 115, 98, 0.8); }
      #rows .variants .choice:hover .text, #rows .variants .choice.active .text {
        color: #f75e25; }
      #rows .variants .choice:hover, #rows .variants .choice.active {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        margin: 0 2%; }

/* 
	Step 2 - 5. Selecting parts of builder
*/
#construct {
  position: relative; }
  #construct .construct-main {
    position: relative;
    margin-top: 50px;
    background-color: #D4D4D4; }
    #construct .construct-main #canvas-basket {
      width: 285px;
      background: #fff;
      -webkit-transition: all .3s ease .1s;
      -o-transition: all .3s ease .1s;
      transition: all .3s ease .1s;
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      border: 1px solid #999;
      padding: 15px 0; }
      #construct .construct-main #canvas-basket h4 {
        color: #f75e25;
        text-align: center;
        margin: 0 0 15px;
        font-size: 24px;
        line-height: 13px;
        font-weight: 700;
        display: block; }
      #construct .construct-main #canvas-basket .basket-slider {
        padding: 6px 0 15px;
        margin-bottom: 8px; }
        #construct .construct-main #canvas-basket .basket-slider .swiper-wrapper {
          max-height: 470px; }
        #construct .construct-main #canvas-basket .basket-slider .swiper-button-down,
        #construct .construct-main #canvas-basket .basket-slider .swiper-button-up {
          width: 16px;
          height: 9px;
          background: url(../images/arr-up-01.svg) center no-repeat;
          margin: 0 auto;
          cursor: pointer; }
        #construct .construct-main #canvas-basket .basket-slider .swiper-button-down.swiper-button-disabled,
        #construct .construct-main #canvas-basket .basket-slider .swiper-button-up.swiper-button-disabled {
          opacity: .2;
          cursor: default; }
        #construct .construct-main #canvas-basket .basket-slider .swiper-button-down {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
        #construct .construct-main #canvas-basket .basket-slider .basket-items {
          padding-left: 5%;
          margin: 15px 0; }
          #construct .construct-main #canvas-basket .basket-slider .basket-items .item {
            height: 96px !important;
            display: block;
            border-bottom: 1px solid #f0f0f0;
            font-size: 12px;
            font-size: .75rem;
            padding: 13px 0; }
            #construct .construct-main #canvas-basket .basket-slider .basket-items .item .image {
              float: left;
              height: 70px;
              width: 70px;
              overflow: hidden;
              margin-right: 10px; }
            #construct .construct-main #canvas-basket .basket-slider .basket-items .item .image img {
              height: 100%;
              float: left; }
            #construct .construct-main #canvas-basket .basket-slider .basket-items .item .name {
              font-weight: 600;
              text-transform: uppercase;
              margin-bottom: 5px;
              max-height: 36px;
              overflow: hidden;
              -o-text-overflow: ellipsis;
              text-overflow: ellipsis; }
            #construct .construct-main #canvas-basket .basket-slider .basket-items .item .basket-items .item .count,
            #construct .construct-main #canvas-basket .basket-slider .basket-items .item .basket-items .item .price {
              color: #667;
              line-height: 16px;
              line-height: 1rem;
              padding-left: 80px; }
            #construct .construct-main #canvas-basket .basket-slider .basket-items .item .basket-items .item .sum {
              /*display: none;*/ }
            #construct .construct-main #canvas-basket .basket-slider .basket-items .item .basket-items .item:after,
            #construct .construct-main #canvas-basket .basket-slider .basket-items .item .basket-items .item:before {
              content: " ";
              display: table; }
            #construct .construct-main #canvas-basket .basket-slider .basket-items .item .basket-items .item:after {
              clear: both; }
      #construct .construct-main #canvas-basket .buy {
        width: 90%;
        margin-top: 67px;
        margin-left: 5%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        text-align: center;
        padding: 12px 0;
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 1;
        color: #fff;
        border-radius: 10px;
        background: #f75e25; }
        #construct .construct-main #canvas-basket .buy .total-sum {
          font-size: 24px;
          font-size: 1.5rem;
          padding: 3px 0; }
        #construct .construct-main #canvas-basket .buy:hover {
          background: #ff897c; }
    #construct .construct-main #canvas {
      position: relative;
      width: 75%;
      display: block;
      -webkit-transition: all .3s ease .1s;
      -o-transition: all .3s ease .1s;
      transition: all .3s ease .1s; }
      #construct .construct-main #canvas .img-block .cornice-img {
        position: relative; }
        #construct .construct-main #canvas .img-block .cornice-img img {
          width: 100%;
          height: 100%; }
        #construct .construct-main #canvas .img-block .cornice-img .gradient {
          display: none;
          width: 100%;
          height: 50px;
          position: absolute; }
          #construct .construct-main #canvas .img-block .cornice-img .gradient.top {
            top: 0;
            background: -webkit-gradient(linear, left top, left bottom, from(#D4D4D4), to(rgba(255, 255, 255, 0)));
            background: -o-linear-gradient(top, #D4D4D4 0%, rgba(255, 255, 255, 0) 100%);
            background: linear-gradient(to bottom, #D4D4D4 0%, rgba(255, 255, 255, 0) 100%); }
          #construct .construct-main #canvas .img-block .cornice-img .gradient.bottom {
            bottom: 0;
            background: -webkit-gradient(linear, left bottom, left top, from(#BFBFBF), to(rgba(255, 255, 255, 0)));
            background: -o-linear-gradient(bottom, #BFBFBF 0%, rgba(255, 255, 255, 0) 100%);
            background: linear-gradient(to top, #BFBFBF 0%, rgba(255, 255, 255, 0) 100%); }
    #construct .construct-main .navigation {
      height: calc(100% + 62px);
      width: 29px;
      top: 0;
      position: absolute;
      background-repeat: no-repeat;
      background-position: 50% 47%;
      pointer-events: none;
      cursor: default; }
      #construct .construct-main .navigation.prev {
        left: -29px;
        background-color: #ccc;
        background-image: url(images/constructor_top_left.png); }
        #construct .construct-main .navigation.prev:hover {
          background-color: #eee; }
      #construct .construct-main .navigation.next {
        right: -29px;
        background-color: #177dd2;
        background-image: url(images/constructor_top_right.png); }
        #construct .construct-main .navigation.next:hover {
          background-color: #3E94DC; }
      #construct .construct-main .navigation.active {
        cursor: pointer;
        pointer-events: auto; }
    #construct .construct-main:after {
      content: '';
      clear: both;
      display: block;
      float: none; }
  #construct .colors {
    position: relative;
    text-align: right;
    -webkit-transition: all .3s ease .1s;
    -o-transition: all .3s ease .1s;
    transition: all .3s ease .1s;
    padding: 10px 300px 10px 15px;
    margin-top: 0;
    background-color: #BFBFBF; }
    #construct .colors .color-box {
      display: inline-block;
      margin: 5px;
      width: 32px;
      height: 32px;
      cursor: pointer;
      border: 1px solid #ccc; }
      #construct .colors .color-box.active, #construct .colors .color-box.active:hover, #construct .colors .color-box:hover {
        border: 3px solid #f75e25; }
    #construct .colors.show {
      bottom: 5px; }
    #construct .colors .colors.show div.color-box:not(.color) {
      border: 2px solid red;
      position: relative; }
      #construct .colors .colors.show div.color-box:not(.color):after, #construct .colors .colors.show div.color-box:not(.color):before {
        content: "";
        position: absolute;
        left: -8px;
        width: 44px;
        height: 1px;
        background: red;
        top: 14px; }
      #construct .colors .colors.show div.color-box:not(.color):after {
        /* Для Firefox */
        -ms-transform: rotate(45deg);
        /* Для IE */
        -webkit-transform: rotate(45deg);
        /* Для Safari, Chrome, iOS */
        /* Для Opera */
        transform: rotate(45deg); }
      #construct .colors .colors.show div.color-box:not(.color):before {
        /* Для Firefox */
        -ms-transform: rotate(-45deg);
        /* Для IE */
        -webkit-transform: rotate(-45deg);
        /* Для Safari, Chrome, iOS */
        /* Для Opera */
        transform: rotate(-45deg); }
  #construct .construct-options {
    position: relative; }
    #construct .construct-options .panel {
      -webkit-transition: all .3s ease .1s;
      -o-transition: all .3s ease .1s;
      transition: all .3s ease .1s; }
      #construct .construct-options .panel .panel-header {
        margin: 20px 0 25px; }
        #construct .construct-options .panel .panel-header h3 {
          display: inline-block;
          font-size: 23px;
          line-height: 60px;
          font-weight: 600;
          margin-right: 2%; }
        #construct .construct-options .panel .panel-header .tube-forms {
          width: 71%;
          display: inline-block;
          vertical-align: 2px;
          margin-bottom: 0; }
          #construct .construct-options .panel .panel-header .tube-forms .cb-btn {
            margin: 10px; }
            #construct .construct-options .panel .panel-header .tube-forms .cb-btn:last-child {
              margin-right: 0; }
            #construct .construct-options .panel .panel-header .tube-forms .cb-btn:first-child {
              margin-left: 0; }
      #construct .construct-options .panel .panel-body {
        position: relative;
        margin-bottom: 50px; }
        #construct .construct-options .panel .panel-body .tube-types-2 {
          margin-top: 20px; }
          #construct .construct-options .panel .panel-body .tube-types-2 h3 {
            margin-bottom: 20px;
            font-weight: 600; }
      #construct .construct-options .panel .panel-footer {
        margin-top: 25px;
        height: 40px; }
  #construct .panel-body .swiper-container {
    width: 101.5%; }
    #construct .panel-body .swiper-container .swiper-slide {
      -webkit-transition: all .3s ease .1s;
      -o-transition: all .3s ease .1s;
      transition: all .3s ease .1s;
      width: 15%;
      text-align: center;
      cursor: pointer;
      margin-right: 1.97% !important;
      overflow: hidden;
      height: auto; }
      #construct .panel-body .swiper-container .swiper-slide img {
        width: 100.5%;
        height: auto;
        display: block;
        border: 3px solid #ccc;
        -webkit-transition: .4s;
        -o-transition: .4s;
        transition: .4s; }
      #construct .panel-body .swiper-container .swiper-slide .text {
        height: 38px;
        line-height: 1;
        text-align: center;
        display: table;
        width: 100%;
        font-size: 14px;
        font-size: .875rem;
        color: #333;
        font-weight: 700; }
        #construct .panel-body .swiper-container .swiper-slide .text span {
          display: table-cell;
          vertical-align: top;
          text-transform: uppercase;
          padding-top: 10px; }
      #construct .panel-body .swiper-container .swiper-slide.active img {
        border: 3px solid #f75e25; }
      #construct .panel-body .swiper-container .swiper-slide.active:hover img,
      #construct .panel-body .swiper-container .swiper-slide:hover img {
        border: 3px solid #ffb7af; }
    #construct .panel-body .swiper-container .swiper-scrollbar {
      bottom: -8px; }
  #construct .swiper-button-next,
  #construct .swiper-button-prev {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 30px;
    height: auto;
    width: 20px;
    z-index: 100; }
  #construct .swiper-button-next.swiper-button-disabled,
  #construct .swiper-button-prev.swiper-button-disabled {
    opacity: .2; }
  #construct .swiper-button-prev {
    left: -30px;
    background: url(images/arrow-left.png) 50% 50% no-repeat; }
  #construct .swiper-button-next {
    right: -30px;
    background: url(images/arrow-right.png) 50% 50% no-repeat; }

/**
 * layout
 */
.wrapper {
  max-width: 1140px;
  min-width: 300px;
  height: 100%;
  min-height: 620px;
  margin: 0 auto; }

.header {
  position: relative;
  z-index: 2; }

.builder-content {
  position: relative;
  z-index: 1; }

.content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100%; }

#builder {
  position: relative; }

.row {
  width: 100%; }
  .row .col {
    display: inline-block; }
  .row .fright {
    float: right; }
  .row .col-1-2 {
    width: 49%; }
  .row .col-1-3 {
    width: 33%; }
  .row .col-2-3 {
    width: 67%; }
  .row:after {
    content: '';
    clear: both;
    display: block;
    float: none; }

/**
 * step_6_props
 */
#properties .segments {
  position: relative;
  -webkit-transition: all .3s ease .1s;
  -o-transition: all .3s ease .1s;
  transition: all .3s ease .1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }
  #properties .segments .segment {
    width: 33%;
    padding-bottom: 2.4vw;
    padding-top: 20px;
    vertical-align: top;
    position: relative;
    background-color: #fff;
    overflow: hidden; }
    #properties .segments .segment .segment-content {
      width: 200%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      #properties .segments .segment .segment-content .add, #properties .segments .segment .segment-content .added {
        width: 50%;
        position: relative; }
    #properties .segments .segment.left-segment .total-sum, #properties .segments .segment.right-segment .total-sum {
      opacity: 0; }
    #properties .segments .segment.left-segment .segment-content, #properties .segments .segment.right-segment .segment-content {
      margin-left: -100%; }
    #properties .segments .segment:hover {
      background: url(images/segments-hover.png); }
    #properties .segments .segment .cross {
      cursor: pointer;
      position: absolute;
      left: 20px;
      top: -10px;
      font-size: 50px;
      line-height: 50px;
      color: #ccc; }
    #properties .segments .segment.right-segment .cross {
      right: 20px;
      left: auto; }
    #properties .segments .segment .picture {
      width: 100%;
      padding-top: 40px;
      height: auto;
      display: inline-block; }
      #properties .segments .segment .picture img {
        width: 100%;
        height: auto; }
    #properties .segments .segment .length-wrap {
      text-align: center; }
      #properties .segments .segment .length-wrap .length-select {
        margin-top: 10px; }
        #properties .segments .segment .length-wrap .length-select select {
          padding: 5px 12px;
          border: 1px solid #ccc;
          -webkit-box-shadow: none;
          box-shadow: none; }
    #properties .segments .segment .type-wrap.top {
      margin-top: 0;
      height: 190px; }
      #properties .segments .segment .type-wrap.top .type-wrap-header h3 {
        font-size: 24px;
        line-height: 26px;
        margin-top: 0;
        font-weight: 400;
        word-wrap: break-word; }
        #properties .segments .segment .type-wrap.top .type-wrap-header h3:before {
          font-weight: 600;
          display: block;
          color: #ccc;
          font-family: 'Font Awesome 5 Free';
          content: "\f055";
          font-size: 50px;
          line-height: 50px;
          margin-bottom: 10px; }
    #properties .segments .segment .type-wrap.bottom {
      margin-top: 90px; }
    #properties .segments .segment h3, #properties .segments .segment p {
      padding: 0 4%; }
    #properties .segments .segment h3 {
      margin-top: 64px;
      font-size: 18px;
      text-align: center;
      font-weight: 300;
      font-family: 'Open Sans';
      font-size: 22px; }
      #properties .segments .segment h3.with-underline {
        border-top: 1px solid #177dd2;
        margin-top: 40px;
        padding-top: 24px; }
    #properties .segments .segment .cb-btn {
      width: 84px;
      height: 40px;
      margin: 14px 7px 0; }
    #properties .segments .segment .total-sum {
      font-size: 48px;
      line-height: 40px;
      font-weight: 600;
      color: #f75e25;
      text-align: center; }
      #properties .segments .segment .total-sum span {
        font-size: 30px; }
    #properties .segments .segment .length,
    #properties .segments .segment .type {
      text-align: center; }
    #properties .segments .segment .mounts-count,
    #properties .segments .segment .rings-count {
      margin-top: 10px;
      text-align: center;
      font-size: 48px;
      font-size: 3rem;
      line-height: 50px;
      line-height: 3.125rem; }
    #properties .segments .segment p {
      display: block;
      margin-top: 11px;
      text-align: center;
      font-size: 12px;
      font-size: .75rem;
      color: #667; }

#properties .navigation-wrap .ready {
  margin: 40px auto 40px;
  display: block;
  text-align: center;
  padding: 20px 5px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
  background: #177dd2;
  width: 33%;
  min-width: 120px;
  text-decoration: none;
  cursor: pointer; }
  #properties .navigation-wrap .ready:active, #properties .navigation-wrap .ready:hover {
    background: #3E94DC; }

/**
 * basket
 */
.checkout {
  -webkit-transition: all .3s ease .1s;
  -o-transition: all .3s ease .1s;
  transition: all .3s ease .1s;
  margin-top: 0;
  margin-bottom: 80px; }
  .checkout .basket-items {
    list-style: none;
    margin: 0; }
    .checkout .basket-items .item {
      float: left;
      width: 50%;
      padding: 20px; }
      .checkout .basket-items .item .image {
        width: 180px;
        float: left;
        margin-right: 4%; }
        .checkout .basket-items .item .image img {
          width: 100%; }
      .checkout .basket-items .item .count,
      .checkout .basket-items .item .name {
        font-size: 18px;
        line-height: 20px; }
      .checkout .basket-items .item .name {
        color: grey2;
        font-weight: 600;
        text-transform: uppercase; }
      .checkout .basket-items .item .count {
        color: #667;
        margin-top: 20px; }
      .checkout .basket-items .item .sum {
        font-size: 30px;
        line-height: 32px;
        font-weight: 600;
        color: #f75e25;
        margin-top: 20px; }
        .checkout .basket-items .item .sum span {
          font-size: 18px;
          line-height: 20px; }
    .checkout .basket-items:after {
      content: '';
      clear: both;
      display: block; }
  .checkout .total-sum {
    color: #f75e25;
    font-size: 60px;
    line-height: 63px;
    font-weight: 600;
    text-align: center;
    margin: 40px 0 60px; }
    .checkout .total-sum span {
      font-size: 36px;
      line-height: 38px; }
  .checkout .navigation-wrap .cb-btn {
    display: inline-block;
    margin: 0 2%; }
    .checkout .navigation-wrap .cb-btn.checkout {
      background-color: #177dd2; }
      .checkout .navigation-wrap .cb-btn.checkout:hover {
        background-color: #3E94DC; }

/**
 * Основная картинка карниза
 */
#construct .construct-main #canvas .img-block img {
  width: auto;
  height: auto; }

#construct .construct-main #canvas .img-block .cornice-img {
  margin: 0;
  position: relative;
  height: 564px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  #construct .construct-main #canvas .img-block .cornice-img img {
    width: 100%;
    height: auto; }

/**
 * цвета
 */
.color-box {
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-image-repeat: no-repeat;
  overflow: hidden; }
  .color-box img {
    width: 100%;
    height: 100%; }

/**
 * Media Queries
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

/**
 * <= 1140
 */
@media screen and (max-width: 1140px) {
  .wrapper {
    overflow-x: hidden; }
  #construct .construct-main {
    width: 100%;
    height: 47vw; }
    #construct .construct-main #canvas {
      height: 100%; }
      #construct .construct-main #canvas .img-block .cornice-img {
        height: auto; }
    #construct .construct-main #canvas-basket .buy {
      margin-top: 0; }
  #construct .construct-options {
    padding: 0 40px; }
  #construct .construct-main .navigation {
    display: none; } }

/**
 * <= 912
 */
@media screen and (max-width: 912px) {
  /*  was in max-width: 720px */
  .header .top-block .mob-block .mob-link.navigation-link {
    display: inline-block; }
  .header .nav-block .navigation {
    position: absolute;
    width: 100%;
    padding: 10px 0 10px 0;
    border: 1px solid #999;
    border-right: 0 none; }
    .header .nav-block .navigation .step {
      padding: 10px 10px 10px 20px;
      width: 100%;
      text-align: left !important;
      display: block; }
      .header .nav-block .navigation .step .number {
        position: static;
        text-align: center;
        margin: 0;
        margin-right: 20px;
        vertical-align: middle;
        display: inline-block; }
      .header .nav-block .navigation .step .text {
        display: inline-block;
        color: #667;
        margin: 0;
        vertical-align: middle; }
      .header .nav-block .navigation .step::before {
        content: none; }
      .header .nav-block .navigation .step:hover {
        background-color: #eee; }
  /* ** */
  .header .top-block {
    width: 100%; }
    .header .top-block .logo {
      display: inline-block; }
      .header .top-block .logo img {
        margin-top: -10px; }
    .header .top-block .phone-block {
      float: right;
      padding-top: 10px; }
    .header .top-block:after {
      content: '';
      clear: both;
      display: block;
      float: none; }
  .header .nav-block {
    float: none;
    clear: both;
    width: 100%;
    margin-top: 20px; }
  /* For steps 1-5 */
  #step-1 .header .top-block .mob-block .mob-link.basket-link, #step-2 .header .top-block .mob-block .mob-link.basket-link, #step-3 .header .top-block .mob-block .mob-link.basket-link, #step-4 .header .top-block .mob-block .mob-link.basket-link {
    display: inline-block; }
  #step-1 .header .top-block .mob-block .mob-link.save-link, #step-2 .header .top-block .mob-block .mob-link.save-link, #step-3 .header .top-block .mob-block .mob-link.save-link, #step-4 .header .top-block .mob-block .mob-link.save-link {
    display: inline-block; }
  #step-1 .builder-content, #step-2 .builder-content, #step-3 .builder-content, #step-4 .builder-content {
    margin-top: -123px; }
  #construct .construct-main {
    width: 100%;
    height: 64vw;
    min-height: 262px; }
    #construct .construct-main #canvas {
      width: 100%;
      overflow: none; }
      #construct .construct-main #canvas .img-block .cornice-img {
        display: block; }
      #construct .construct-main #canvas .print, #construct .construct-main #canvas .save {
        display: none; }
    #construct .construct-main #canvas-basket {
      width: 100%;
      right: 0;
      top: 0;
      z-index: 2;
      padding: 10px 0 10px 0;
      border-right: 0 none; }
      #construct .construct-main #canvas-basket .basket-slider .swiper-wrapper {
        max-height: 390px; }
  #construct .colors {
    text-align: left;
    padding-right: 10px; }
    #construct .colors .color-box {
      width: 40px;
      height: 40px;
      margin: 8px; }
  #construct .construct-options .panel .panel-header {
    text-align: center; }
    #construct .construct-options .panel .panel-header .tube-forms {
      width: 100%; }
      #construct .construct-options .panel .panel-header .tube-forms .cb-btn {
        margin: 10px; }
        #construct .construct-options .panel .panel-header .tube-forms .cb-btn:last-child {
          margin-right: 10px; }
        #construct .construct-options .panel .panel-header .tube-forms .cb-btn:first-child {
          margin-left: 10px; }
  #construct .panel-body .swiper-container .swiper-slide {
    width: 23.4%; }
  /* for appearing-disappearing menus in mobile sizes  */
  .mobile-trigger {
    width: 380px;
    right: -100%;
    height: 100%;
    position: absolute;
    top: 90px;
    display: table; } }

/**
 * <= 720
 */
@media screen and (max-width: 720px) {
  /*  steps 2 - 5  */
  #construct .panel-body .swiper-container .swiper-slide {
    width: 31.9%; }
  /*  step 6  */
  /*  step 7. Checkout */
  .checkout .basket-items .item .image {
    width: 100%;
    float: none; }
  .checkout .basket-items .item .count,
  .checkout .basket-items .item .name,
  .checkout .basket-items .item .sum {
    text-align: center;
    margin-top: 0;
    line-height: 28px; }
  .checkout .basket-items .item .name {
    margin-top: 10px;
    min-height: 72px; } }

/**
 * <= 640
 */
@media screen and (max-width: 640px) {
  .header .top-block .phone-block {
    font-size: 17px; } }

/**
 * <= 600
 */
@media screen and (max-width: 600px) {
  .header .top-block .logo img {
    width: 140px; }
  .header .top-block .phone-block {
    padding-top: 0;
    float: none;
    text-align: left;
    font-size: 13px;
    line-height: 12px;
    margin-left: 27px; }
  #rows .variants .choice {
    display: block;
    margin-top: 20px; }
  /* For steps 1-5 */
  #construct .construct-main {
    padding-top: 50px;
    height: calc(65vw + 50px); }
    #construct .construct-main #canvas .img-block .cornice-img .gradient {
      display: block; }
  #construct .colors {
    margin-top: -10px; }
  #construct .panel-body .swiper-container .swiper-slide .text span {
    text-transform: none;
    font-size: 3vw;
    line-height: 4vw; }
  .panel-footer-arrow .navigation-wrap .navigation.prev, .panel-footer-arrow .navigation-wrap .navigation.next {
    width: 50%; }
  /*  step 6  */
  #properties .segments .segment .total-sum {
    font-size: 36px;
    line-height: 36px; }
  #properties .segments .segment h3, #properties .segments .segment .type-wrap.top .type-wrap-header h3 {
    font-size: 16px;
    line-height: 18px; }
  #properties .navigation-wrap .ready {
    width: 90%; }
  /*  step 7. Checkout */
  .checkout {
    margin-bottom: 40px; }
    .checkout .basket-items .item .count,
    .checkout .basket-items .item .name {
      font-size: .9em;
      line-height: 24px; }
    .checkout .basket-items .item .sum {
      font-size: 24px; }
    .checkout .navigation-wrap .cb-btn {
      margin: 0 auto;
      display: block;
      width: 92%; }
      .checkout .navigation-wrap .cb-btn.checkout {
        margin-top: 20px; } }

/**
 * <= 380
 */
@media screen and (max-width: 380px) {
  .header .top-block .logo img {
    width: 128px;
    margin-left: -10px; }
  .header .top-block .phone-block {
    margin-left: 6px; }
  .header .top-block .mob-block .mob-link {
    width: 40px;
    height: 40px;
    margin-left: 0;
    font-size: 23px;
    line-height: 36px; }
  .header .nav-block .navigation, #construct .construct-main #canvas-basket {
    border-right: 0 none;
    border-left: 0 none; }
  #construct .construct-options .panel .panel-header h3 {
    line-height: 30px;
    margin-bottom: 10px; }
  /* for appearing-disappearing menus in mobile sizes  */
  .mobile-trigger {
    width: 100%; } }
