﻿/**
 * <= 380
 */

@media screen and (max-width:380px){
	.header .top-block .logo img{
		width: 128px;
		margin-left: -10px;
	}
	.header .top-block .phone-block{
		margin-left: 6px;
	}
	.header .top-block .mob-block .mob-link{
		width: 40px;
		height: 40px;
		margin-left: 0;
		font-size: 23px;
		line-height: 36px;
	}
 	.header .nav-block .navigation, #construct .construct-main #canvas-basket{
		border-right: 0 none;
		border-left: 0 none;
 	}
 	#construct .construct-options .panel .panel-header h3{
 		line-height: 30px;
 		margin-bottom: 10px;
 	}

	/* for appearing-disappearing menus in mobile sizes  */
	.mobile-trigger{
		width: 100%;
		// right: 0;
	}
}