﻿/**
 * <= 912
 */
@media screen and (max-width: 912px){

	/*  was in max-width: 720px */
	.header{
		.top-block{
			.phone-block{
			}
			.mob-block{
				.mob-link{
					&.navigation-link{
						display: inline-block;
					}
				}
			}
		}
		.nav-block{
			.navigation{
				position: absolute;
				width: 100%;
				padding: 10px 0 10px 0;
				border: 1px solid $grey9;
				border-right: 0 none;
				.step{
					padding: 10px 10px 10px 20px;
					width: 100%;
					text-align: left !important;
					display: block;
					.number{
						position: static;
						text-align: center;
						margin: 0;
						margin-right: 20px;
						vertical-align: middle;
						display: inline-block;
					}
					.text{
						display: inline-block;
						color: $grey6;
						margin: 0;
						vertical-align: middle;
					}
					&::before{
						content: none;
					}
					&:hover{
						background-color: $greyE;
					}
				}
			}
		}
	}
	/* ** */

	.header{
		.top-block{
			width: 100%;
			.logo{
				display: inline-block;
				img{
					margin-top: -10px;
				}
			}
			.phone-block{
				float: right;
				padding-top: 10px;
			}
			@include cfx;
		}
		.nav-block{
			float: none;
			clear: both;
			width: 100%;
			margin-top: 20px;
		}
	}

	/* For steps 1-5 */
	#step-1, #step-2, #step-3, #step-4{
		.header{
			.top-block{
				.mob-block{
					.mob-link{
						&.basket-link{
							display: inline-block;
						}
						&.save-link{
							display: inline-block;
						}
					}
				}
			}
		}
		.builder-content{
			margin-top: -123px;
		}
	}
	#construct{
		.construct-main{
			width: 100%;
			height: 64vw;
			min-height: 262px;
			#canvas{
				width: 100%;
				overflow: none;
				.img-block{
					.cornice-img{
						display: block;
					}
				}
				.print, .save{
					display: none;
				}
			}
			#canvas-basket{
				width: 100%;
				right: 0;
				top: 0;
				z-index: 2;
				padding: 10px 0 10px 0;
				border-right: 0 none;
				.basket-slider .swiper-wrapper {
					max-height: 390px;
				}
			}
		}
		.colors{
			text-align: left;
			padding-right: 10px;
			.color-box{
				width: 40px;
				height: 40px;
				margin: 8px;
			}
		}
		.construct-options{
			// padding: 0 40px;
			.panel{
				.panel-header{
					text-align: center;
					.tube-forms{
						width: 100%;
						.cb-btn{
							margin: 10px;
							&:last-child{
								margin-right: 10px;
							}
							&:first-child{
								margin-left: 10px;
							}
						}
					}
				}
			}
		}
		.panel-body .swiper-container .swiper-slide{
			width: 23.4%;
		}
	}
	
	/* for appearing-disappearing menus in mobile sizes  */
	.mobile-trigger{
		width: 380px;
		right: -100%;
		height: 100%;
		position: absolute;
		top: 90px;
		display: table;
	}

}