﻿/**
 * <= 720
 */
@media screen and (max-width:720px){
	/*  steps 2 - 5  */
	#construct .panel-body .swiper-container .swiper-slide{
		width: 31.9%;
	}

	/*  step 6  */

	/*  step 7. Checkout */
	.checkout{
		.basket-items{
			.item{
				.image{
					width: 100%;
					float: none;
				}
				.count,
				.name,
				.sum{
					text-align: center;
					margin-top: 0;
					line-height: 28px;
				}
				.name{
					margin-top: 10px;
					min-height: 72px;
				}
			}
		}
	}
}
