﻿/**
 * >= 1141
 */
@media screen and (min-width:1141px){
	#construct .construct-main #canvas-basket.show{
	}
	#construct .construct-main #canvas-basket .basket-slider {
		padding: 6px 0 13px;
		margin-bottom: 0;
		
	}
	// #construct .construct-main #canvas-basket .basket-slider .basket-items {
	// 	// padding-left: 5%;
	// 	margin: 20px 0;
		
	// }

}
