﻿/**
 * <= 1140
 */

@media screen and (max-width:1140px){
	.wrapper{
		overflow-x: hidden;
	}
	#construct{
		.construct-main{
			width: 100%;
			height: 47vw;
			#canvas{
				height: 100%;
				.img-block{
					.cornice-img{
						height: auto;
						img{}
					}
				}
			}
			#canvas-basket .buy{
				margin-top: 0;
			}
		}
		.construct-options{
			padding: 0 40px;
		}
	}
}
