﻿/**
 * <= 380
 */

@media screen and (max-width:380px){
 	.header .nav-block .navigation, #construct .construct-main #canvas-basket{
		border-right: 0 none;
		border-left: 0 none;
 	}
	
	/* for appearing-disappearing menus in mobile sizes  */
	.mobile-trigger{
		width: 100%;
		// right: 0;
	}
}