﻿/**
 * <= 600
 */

@media screen and (max-width:600px){
	.header .top-block .logo img{
		width: 140px;
	}
	.header .top-block .phone-block{
		padding-top: 0;
		float: none;
		text-align: left;
		font-size: 13px;
		line-height: 12px;
		margin-left: 27px;
	}
 	#rows .variants .choice{
 		display: block;
 		margin-top: 20px;
 	}
	
	/* For steps 1-5 */
 	#construct{
 		.construct-main{
 			padding-top: 50px;
 			height: calc(65vw + 50px);
 			#canvas{
 				.img-block{
 					.cornice-img{
 						.gradient{
 							display: block;
 						}
 					}
 				}
 			}
 		}
 		.colors{
 			margin-top: -10px;
		}
 	}

 	.panel-footer-arrow .navigation-wrap .navigation{
 		&.prev,
 		&.next{
 			width: 50%;
 		}
 	}

 	/*  step 6  */
	#properties .segments .segment{
		.total-sum{
			font-size: 36px;
			line-height: 36px;
		}
		h3, .type-wrap.top .type-wrap-header h3{
			font-size: 16px;
			line-height: 18px;
		}
	}
	#properties .navigation-wrap .ready{
		width: 90%;
	}

	/*  step 7. Checkout */
	.checkout{
		margin-bottom: 40px;
		.basket-items{
			.item{
				.count,
				.name,
				{
					font-size: .9em;
					line-height: 24px;
				}
				.sum{
					font-size: 24px;
				}
			}
		}
		.navigation-wrap{
			.cb-btn{
				margin: 0 auto;
				display: block;
				width: 92%;
				&.checkout{
					margin-top: 20px;
				}
			}
		}
	}
}
