﻿/**
 * Defaults and reset
 */
.constructor.win-1{
	h2{
		font-family: "OpenSans-Regular";
		font-weight: normal;
		font-size: 42px;
		line-height: 38px;
		margin: 0;
		span{
			display: block;
			text-transform: none;
			font-size: 26px;
			line-height: 28px;
			margin-top: 10px;
		}
	}
	.main-button.create-cornice-btn{
		padding: 20px 50px 24px;
		font-size: 1.2em;
	}
	.block_1{
		margin:0 auto;
		position:relative;
		.hand_img{
			background: url("../images/hand.jpg");
			background-repeat: no-repeat;
			background-size: contain;
			width:50%;
			height:400px;
			display: inline-block;
			vertical-align: top;
		}
		.inner_1{
			height:auto;
			width:49%;
			text-align:left;
			display: inline-block;
			vertical-align: top;
		}
		h2{
			color:$second;
			margin-top: 10px;
		}
		ul{
			padding:0;
			margin: 0;
			margin-top: 20px;
			li{
				margin-bottom:15px;
				padding-left: 20px;
				list-style:none;
				position:relative;
				font-size: 16px;
				line-height: 24px;
				&:before {
				 	content: url("../images/list-style.png");
					position:absolute;
					top: 2px;
					margin-right: 0;
				}
			}
		}
		.create-cornice-btn{
			margin-top: 10px;
			margin: 10px 0 40px;
		}
	}

	/*block_2*/
	.block_2{
		width:100%;
		background-color:#f6f6f6;
		padding-left: 2%;
		padding-right: 2%;
		padding-top: 40px;
		padding-bottom: 40px;
		margin-bottom: 40px;
		box-sizing: border-box;
		text-align: center;
		h2{
			margin-top: 0;
		}
		table{
			font-weight:600;
			font-size:18px;
			color: $grey6;
			margin:0 auto;
			margin-top:40px;
			td{
				padding-bottom:40px;
				line-height: 1.6;
				vertical-align: top;
				// word-break: break-all;
				&:first-child{
					text-align:right;
					padding-right:1%;
				}
				&:last-child{
					text-align:left;
					padding-left:1%;
				}
			}
		}
		.color_text{
			font-weight:800;
			font-size:30px;	
			text-transform: uppercase;
			line-height: 1.1;
			div{
				font-size:48px;
			}
		}
		.main-button.create-cornice-btn{
			text-align: center;
		}
	}


	.insc_1_wrap{
		width:100%;
		border-top:1px solid #b5b8bc;
		margin:0 auto;
		margin-top: 73px;
	}
	.insc_1{
		font-weight:700;
		font-size: 28px;
		text-transform: uppercase;
		width: 520px;
		margin: 0 auto;
		margin-top: -20px;
		padding: 0 10px;
		box-sizing: border-box;
		background-color: #f6f6f6;
		text-align: center;
	}
	.insc_2{
		font-weight:600;
		font-style:Italic;
		font-size: 18px;
		margin: 0 auto;
		margin-top: 35px;
		text-align: center;
	}

	.clr_text_1{
		color:#f76273;
	}

	.clr_text_2{
		color:#7ea5c9;
	}

	.clr_text_3{
		color:#94d041;
	}

	.clr_text_4{
		color:#ab77c0;
	}
}

@media (max-width: 550px){
	.constructor.win-1{
		.block_1{
			.inner_1{
				margin-top: 20px;
			}
			.hand_img{
				height: 77vw;
			}
			.hand_img, .inner_1{
				text-align: center;
				width: 100%;
			}
			ul li:before{
				content: none;
			}
		}
		.block_2{
			padding-left: 0;
			padding-right: 0;
			padding-bottom: 0;
			table{
				tr{
					border-top: 8px solid #fff;
				}
				td{
					display: block;
					&:first-child{
						padding: 20px 2% 10px;
						text-align:center;
					}
					&:last-child{
						text-align:center;
						padding: 0 2% 20px;
					}
				}
			}
			.create-cornice-btn{
				margin-top: 40px;
			}
		}
		.create-cornice-btn{
			width: 100%;
		}
	}
}


