$boxround: 4px;
$orange: #f75e25;
$second: #177dd2;
$blue: #177dd2;
$blueHover: #3E94DC;
$green: #68cc90;
$grey2: #222;
$grey3: #333;
$grey6: #667;
$grey9: #999;
$greyC: #ccc;
$greyE: #eee;
$cornicetop: #D4D4D4;
$cornicebottom: #BFBFBF;