﻿/**
 * buttons
 */

.save, .print, .delete{
	position: absolute;
	top: 18px;
	display: block;
	cursor: pointer;
}
.save{
	left: 19px;
	height: 35px;
	width: 35px;
	background: transparent url(../images/save.png) 0 0 no-repeat;
}
.print{
	left: 63px;
	width: 35px;
	height: 37px;
	background: transparent url(../images/print.png) 0 0 no-repeat;
}
.delete{
	left: 125px;
	height: 37px;
	color: red;
	text-decoration: underline !important;
}

.cb-btn{
	text-align: center;
	vertical-align: middle;
	user-select: none;
	// white-space: nowrap;
	border: 1px solid #ccc;
	padding: 7px 10px;
	color: #333333;
	cursor: pointer;
	background-color: #fff;
	opacity: 1;
	&:hover, &.active{
		background-color: $orange;
		color: #fff;
	}
	&.disabled{
		pointer-events: none;
		opacity: .7;
	}
	&.big{
		margin: 15px auto 0;
		display: block;
		text-align: center;
		padding: 20px 5px;
		font-size: 18px;
		font-size: 1.125rem;
		line-height: 18px;
		line-height: 1.125rem;
		font-weight: 600;
		color: #fff;
		border-radius: 10px;
		background: $orange;
		width: 240px;
		text-decoration: none;
		border: 0 none;
		&:active, &:hover{
			background: #ff897c;
		}
		&.grey{
			background-color: $blueHover;
			color: #999;
		}
		&.back{
			background: url(images/navigation-left.png) 6% 50% no-repeat #e0e0e0;
			padding-left: 2%;
		}

	}
}