﻿/**
 * цвета
 */
.color-box{
	vertical-align:middle;
	background-size:cover;
	background-position:50% 50%;
	background-image-repeat:no-repeat;
	overflow: hidden;
	img{
		width: 100%;
		height: 100%;
	}
}
