﻿/**
 * Основная картинка карниза
 */
#construct .construct-main #canvas .img-block{
	img{
		width: auto;
		height: auto;
	}
	.cornice-img{
		margin: 0;
		position: relative;
		height: 564px;
		display: block;
		// vertical-align: middle;
		// padding: 20px 0 20px 20px;
		box-sizing: border-box;
		img{
			width: 100%;
			height: auto;
		}
	}
}