﻿/**
 * Defaults and reset
 */
html, body{
	font-size: 16px;
	width: 100%;
	height: 100%;
	font-family: 'Open Sans',Arial,sans-serif !important;
}
body{
}

*{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-ms-user-select:none;
	-moz-user-select:-moz-none;
	-khtml-user-select:none;
	-webkit-user-select:none;user-select:none;
}
:after,:before{
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
}
a{
	color: inherit;
	text-decoration: none;
	display: inline-block;
	box-sizing: border-box;
	transition: .2s;

	&:active, &:hover, &:link, &:visited, &:focus{
		outline:0;
	}
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
	display:block
}
b,strong{
	font-weight:700;
}
small{
	font-size:80%
}
sub,sup{
	font-size:75%;line-height:0;position:relative;vertical-align:baseline;
}
sup{
	top:-.5em;
}
sub{
	bottom:-.25em;
}
img{
	border:0;
}
svg:not(:root){
	overflow:hidden;
}
figure{
	margin:1em 40px;
}

button,input,optgroup,select,textarea{
	color:inherit;
	font:inherit;
	margin:0
}
button{
	overflow:visible;
}
button,select{
	text-transform:none;
}
button,html input[type=button],input[type=reset],input[type=submit]{
	-webkit-appearance:button;cursor:pointer
}
button[disabled],html input[disabled]{
	cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
	border:0;padding:0
}
input{
	line-height:normal
}
input[type=checkbox],input[type=radio]{
	-webkit-box-sizing:border-box;box-sizing:border-box;padding:0
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
	height:auto
}
input[type=search]{
	-webkit-appearance:textfield;-webkit-box-sizing:content-box;box-sizing:content-box
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
	-webkit-appearance:none
}
fieldset{
	border:1px solid silver;margin:0 2px;padding:.35em .625em .75em
}
legend{
	border:0;padding:0
}
textarea{
	overflow:auto
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
td,th{
	padding:0
}
.disable{
	cursor: default;
	pointer-events: none;
	user-select: none;
	opacity: .7;
}


/* Preloader */
.preloader-block {
	display: block;
	background: rgba(255,255,255,0.7);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;
	&.show{
		display: block;
	}
}

.preloader {
	display: inline-block;
	position: absolute;
	left: calc(50% - 44px);
	top: calc(50% - 88px);
	width: 88px;
	height: 88px;
	margin: 0 auto;
	border: 4px solid #FF4E3B;
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin 900ms infinite linear;
		-o-animation: cssload-spin 900ms infinite linear;
		-ms-animation: cssload-spin 900ms infinite linear;
		-webkit-animation: cssload-spin 900ms infinite linear;
		-moz-animation: cssload-spin 900ms infinite linear;
}

@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}