/* 
Header 
*/
.header{
	margin-bottom: 50px;
	.top-block{
		padding: 20px 20px 0 20px;
		display: inline-block;
		height: 58px;
		.logo{
			img{
				width: 220px;
				height: inherit;
				background-size: cover;
			}
		}
		.phone-block{
			text-align: right;
			font-size: 21px;
			line-height: 28px;
			color: $grey6;
			.phone{

			}
		}
		.mob-block{
			float: right;
			.mob-link{
				width: 46px;
				height: 46px;
				border: 2px solid $grey6;
				border-radius: $boxround;
				font-size: 28px;
				line-height: 41px;
				text-align: center;
				font-family: 'Font Awesome 5 Free';
				font-weight: 600;
				margin-left: 15px;
				color: $grey6;
				&.navigation-link{
					display: none;
					&:before{content:"\f0c9"}
				}
				&.basket-link{
					display: none;
					&:before{content:"\f07a"}
				}
				&.save-link{
					display: none;
					&:before{content:"\f0c7"}
				}
				&.print-link{
					display: none;
					&:before{content:"\f02f"}
				}
				&.active{
					&:before{content: "\f00d"}
				}
			}
		}
	}
	.nav-block{
		float: right;
		width: 71.5%;
		margin-top: 30px;
		padding: 0 20px;
		.navigation{
			background-color: #fff;
			// display: table;
			.step{
				position: relative;
				cursor: pointer;
				display: table-cell;
				width: 14%;
				text-align: center;
				transition: .4s;
				.number{
					background: $second;
					color: #fff;
					font-size: 18px;
					font-weight: 600;
					margin: 0 0 14px;
					display: inline-block;
					line-height: 35px;
					text-align: center;
					width: 35px;
					height: 35px;
					border-radius: 50%;
					z-index: 1000;
					transition: .4s;
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: -17px;
				}
				.text{
					display: block;
					font-size: 13px;
					line-height: 15px;
					color: $grey6;
					margin-top: 49px;
				}
				&::before{
					background: $second;
					right: 37%;
					top: 11px;
					z-index: 0;
					display: block;
					content: '';
					height: 14px;
					width: 100%;
					position: absolute;
					transition: .4s;
					pointer-events: none;
					cursor: default;
				}
				&:first-child::before{
					display: none;
				}
				&.active{
					~.step{
						.number{
							background: #dbdbdb;
							color: #999;
						}
						&::before{
							background: #dbdbdb;
						}
					}
				}
				&.disable{
					user-select: none;
					pointer-events: none;
					cursor: default;
					.number{
						background: #eee !important;
						color: #ddd !important;
					}
					&::before{
						background: #eee !important;
					}
				}
			}
			&:after{
				content: '';
				clear: both;
				display: block;
			}
		}
	}
	@include cfx;
}

