﻿/**
 * layout
 */
.wrapper{
	max-width: 1140px;
	min-width: 300px;
	height: 100%;
	min-height: 620px;
	margin: 0 auto;
}
.header{
	position: relative;
	z-index: 2;
}
.builder-content{
	position: relative;
	z-index: 1;
}
.content{
	box-sizing: border-box;
	min-height: 100%;
	// padding-bottom: 50px;
}

#builder{
	position: relative;
}

.row{
	width: 100%;
	.col{
		display: inline-block;
	}
	.fleft{}
	.fright{
		float: right;
	}
	.col-1-2{
		width: 49%;
	}
	.col-1-3{
		width: 33%;
	}
	.col-2-3{
		width: 67%;
	}
	@include cfx;
}
