﻿/**
 * Navigations
 */
.navigation-wrap{
	text-align: center;
	margin-top: 12px;
	.navigation{
		display: block;
		text-align: center;
		font-weight: 600;
		cursor: pointer;
		padding: 8px 0 9px;
		font-size: 20px;
		font-size: 1.25rem;
		min-width: 120px;
		text-decoration: none;
		margin-bottom: 0;
		&.prev{
			width: 32%;
			background: url(images/navigation-left.png) 10% 50% no-repeat #e0e0e0;
			color: #999;
			float: left;
			padding-left: 3%;
		}
		&.prev:active,
		&.prev:link,
		&.prev:focus,
		&.prev:visited,
		&.prev:hover{
			background-color: $greyE;
		}
		&.next{
			width: 15%;
			padding-right: 3%;
			background: url(images/navigation-right.png) 90% 50% no-repeat $second;
			color: #fff;
			float: right;
		}
		&:active,
		&:focus,
		&:hover{
			background-color: $blueHover;
		}
	}
}

.panel-footer-arrow .navigation-wrap .navigation{
	&.prev,
	&.next{
		height: 40px;
		width: 179px;
		padding: 0 !important;
		min-width: 20px !important;
		cursor: pointer;
		line-height: 40px;
	}
	&.prev{
		position: absolute;
		left: 0;
	}
}
