﻿/**
 * step_6_props
 */
#properties{
	// margin-top: 0;
	.segments{
		position: relative;
		transition: all .3s ease .1s;
		display: flex;
		height: 100%;
		.segment{
			width: 33%;
			padding-bottom: 2.4vw;
			padding-top: 20px;
			vertical-align: top;
			position: relative;
			background-color: #fff;
			overflow: hidden;
			.segment-content{
				width: 200%;
				display: flex;
				.add, .added{
					width: 50%;
					position: relative;
				}
			}
			&.left-segment, &.right-segment{
				.total-sum{
					opacity: 0;
				}
				.segment-content{
					margin-left: -100%;
				}
			}
			&.center-segment{
			}

			&:hover{
				background: url(images/segments-hover.png);
			}
			.cross{
				cursor: pointer;
				position: absolute;
				left: 20px;
				top: -10px;
				font-size: 50px;
				line-height: 50px;
				color: $greyC;
			}
			&.right-segment .cross{
				right: 20px;
				left: auto;
			}
			.picture{
				width: 100%;
				padding-top: 40px;
				height: auto;
				display: inline-block;
				img{
					width: 100%;
					height: auto;
				}
			}
			.length-wrap{
				text-align: center;
				.length-select{
					margin-top: 10px;
					select{
						padding: 5px 12px;
						border: 1px solid $greyC;
						box-shadow: none;
					}
				}
			}
			.type-wrap{
				&.top{
					margin-top: 0;
					height: 190px;
					.type-wrap-header{
						h3{
							font-size: 24px;
							line-height: 26px;
							margin-top: 0;
							font-weight: 400;
							word-wrap: break-word;
							&:before{
								font-weight: 600;
								display: block;
								color: $greyC;
								font-family: 'Font Awesome 5 Free';
								content: "\f055";
								font-size: 50px;
								line-height: 50px;
								margin-bottom: 10px;
							}
						}
					}
				}
				&.bottom{
					margin-top: 90px;
				}
			}
			h3, p{
				padding: 0 4%;
			}
			h3{
				margin-top: 64px;
				font-size: 18px;
				text-align: center;
				font-weight: 300;
				font-family: 'Open Sans';
				font-size: 22px;
				&.with-underline{
					border-top: 1px solid $second;
					margin-top: 40px;
					padding-top: 24px;
				}
			}
			.cb-btn{
				width: 84px;
				height: 40px;
				margin: 14px 7px 0;
			}
			.total-sum{
				font-size: 48px;
				line-height: 40px;
				font-weight: 600;
				color: $orange;
				text-align: center;
				span{
					font-size: 30px;
				}
			}
			.length,
			.type{
				text-align: center;
			}
			.mounts-count,
			.rings-count{
				margin-top: 10px;
				text-align: center;
				font-size: 48px;
				font-size: 3rem;
				line-height: 50px;
				line-height: 3.125rem;
			}
			p{
				display: block;
				margin-top: 11px;
				text-align: center;
				font-size: 12px;
				font-size: .75rem;
				color: $grey6;
			}
		}
	}
	.navigation-wrap{
		.ready{
			margin: 40px auto 40px;
			display: block;
			text-align: center;
			padding: 20px 5px;
			font-size: 18px;
			line-height: 18px;
			font-weight: 600;
			color: #fff;
			border-radius: 10px;
			background: $second;
			width: 33%;
			min-width: 120px;
			text-decoration: none;
			cursor: pointer;
			&:active, &:hover{
				background: $blueHover;
			}
		}
	} 
}