/* 
	Step 1. Rows
*/
#rows{
	text-align: center;
	margin: 0 auto;
	h3{
		font-weight: 600;
		color: #333;
		font-size: 36px;
		line-height: 40px;
		padding: 0 20px;
	}
	.variants{
		display: block;
		width: 100%;
		margin-top: 6vh;
		.choice{
			display: inline-block;
			cursor: pointer;
			text-align: center;
			margin: 0 .5%;
			transition-duration: .2s;
			transition-timing-function: ease-in-out;

			.image{
				display: inline-block;
				width: 180px;
				height: 180px;
				border: 1px solid #999;
				border-radius: 50%;
				-webkit-transition: .4s;
				transition: .4s;
				-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.2);
				box-shadow: 0 0 0 1px rgba(0,0,0,.2);
				overflow: hidden;
				img{
					width: 100%;
					height: auto;
				}
			}
			.text{
				color: $grey6;
				-webkit-transition: .4s;
				transition: .4s;
				font-size: 24px;
				font-size: 1.5rem;
				line-height: 26px;
				line-height: 1.625rem;
			}
			&:hover, &.active{
				.image{
					border-color: $orange;
					-webkit-box-shadow: 0 0 6px 1px rgba(255,115,98,.8);
					box-shadow: 0 0 6px 1px rgba(255,115,98,.8);
				}
				.text{
					color: $orange;
				}
			}
			&:hover, &.active{
				transform: scale(1.2);
				margin: 0 2%;
			}
		}
	}
}