﻿/**
 * basket
 */
.checkout{
	transition: all .3s ease .1s;
	margin-top: 0;
	margin-bottom: 80px;
	.basket-items{
		list-style: none;
		margin: 0;
		.item{
			float: left;
			width: 50%;
			padding: 20px;
			.image{
				width: 180px;
				float: left;
				margin-right: 4%;
				img{
					width: 100%;
				}
			}
			.count,
			.name{
				font-size: 18px;
				line-height: 20px;
			}
			.name{
				color: grey2;
				font-weight: 600;
				text-transform: uppercase;
			}
			.count{
				color: $grey6;
				margin-top: 20px;
			}
			.sum{
				font-size: 30px;
				line-height: 32px;
				font-weight: 600;
				color: $orange;
				margin-top: 20px;
				span{
					font-size: 18px;
					line-height: 20px;
				}
			}
		}
		&:after{
			content: '';
			clear: both;
			display: block;
		}
	}
	.total-sum{
		color: $orange;
		font-size: 60px;
		line-height: 63px;
		font-weight: 600;
		text-align: center;
		margin: 40px 0 60px;
		span{
			font-size: 36px;
			line-height: 38px;
		}
	}
	.navigation-wrap{
		.cb-btn{
			display: inline-block;
			margin: 0 2%;
			&.checkout{
				background-color: $second;
				&:hover{
					background-color: $blueHover;
				}
			}
		}
	}
}
