/* 
	Step 2 - 5. Selecting parts of builder
*/
#construct{
	position: relative;
	.construct-main{
		position: relative;
		margin-top: 50px;
		background-color: $cornicetop;
		#canvas-basket{
			width: 285px;
			background: #fff;
			transition: all .3s ease .1s;
			// min-height:636px;
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;
			border: 1px solid $grey9;
			padding: 15px 0;
			h4{
				color: $orange;
				text-align: center;
				margin: 0 0 15px;
				font-size: 24px;
				line-height: 13px;
				font-weight: 700;
				display: block;
			}
			.basket-slider{
				padding: 6px 0 15px;
				margin-bottom: 8px;
				.swiper-wrapper{
					max-height: 470px;
				}
				.swiper-button-down,
				.swiper-button-up{
					width: 16px;
					height: 9px;
					background: url(../images/arr-up-01.svg) center no-repeat;
					margin: 0 auto;
					cursor: pointer;
				}
				.swiper-button-down.swiper-button-disabled,
				.swiper-button-up.swiper-button-disabled{
					opacity: .2;
					cursor: default;
				}
				.swiper-button-down{
					transform: rotate(180deg);
				}
				.basket-items{
					padding-left: 5%;
					margin: 15px 0;
					.item{
						height: 96px!important;
						display: block;
						border-bottom: 1px solid #f0f0f0;
						font-size: 12px;
						font-size: .75rem;
						padding: 13px 0;
						.image{
							float: left;
							height: 70px;
							width: 70px;
							overflow: hidden;
							margin-right: 10px;
						}
						.image img{
							height: 100%;
							float: left;
						}
						.name{
							font-weight: 600;
							text-transform: uppercase;
							margin-bottom: 5px;
							max-height: 36px;
							overflow: hidden;
							text-overflow: ellipsis;
						}
						.basket-items .item .count,
						.basket-items .item .price{
							color: $grey6;
							line-height: 16px;
							line-height: 1rem;
							padding-left: 80px;
						}
						.basket-items .item .sum{
							/*display: none;*/
						}
						.basket-items .item:after,
						.basket-items .item:before{
							content: " ";
							display: table;
						}
						.basket-items .item:after{
							clear: both;
						}
					}
				}
			}
			.buy{
				width: 90%;
				margin-top: 67px;
				margin-left: 5%;
				box-sizing: border-box;
				cursor: pointer;
				text-align: center;
				padding: 12px 0;
				font-size: 18px;
				font-size: 1.125rem;
				line-height: 1;
				color: #fff;
				border-radius: 10px;
				background: $orange;
				.total-sum{
					font-size: 24px;
					font-size: 1.5rem;
					padding: 3px 0;
				}
				&:hover{
					background: #ff897c;
				}
			}
		}
		#canvas{
			position: relative;
			width: 75%;
			display: block;
			transition: all .3s ease .1s;
			.img-block{
				.cornice-img{
					position: relative;
					img{
						width: 100%;
						height: 100%;
					}
					.gradient{
						display: none;
						width: 100%;
						height: 50px;
						position: absolute;
						&.top{
							top: 0;
							background: linear-gradient(to bottom, $cornicetop 0%, rgba(255,255,255,0) 100%);
						}
						&.bottom{
							bottom: 0;
							background: linear-gradient(to top,  $cornicebottom 0%, rgba(255,255,255,0) 100%);
						}
					}
				}
			}

		}
		
		.navigation {
			height: calc(100% + 62px);
			width: 29px;
			top: 0;
			position: absolute;
			background-repeat: no-repeat;
			background-position: 50% 47%;
			pointer-events: none;
			cursor: default;
			&.prev {
				left: -29px;
				background-color: #ccc;
				background-image: url(images/constructor_top_left.png);
				&:hover {
					background-color: $greyE;
				}
			}
			&.next {
				right: -29px;
				background-color: $second;
				background-image: url(images/constructor_top_right.png);
				&:hover {
					background-color: $blueHover;
				}
			}
			&.active{
				cursor: pointer;
				pointer-events: auto;
			}
		}

		@include cfx;
	}

	.colors{
		position: relative;
		text-align: right;
		transition: all .3s ease .1s;
		padding: 10px 300px 10px 15px;
		margin-top: 0;
		background-color: $cornicebottom;
		.color-box{
			display: inline-block;
			margin: 5px;
			width: 32px;
			height: 32px;
			cursor: pointer;
			border: 1px solid #ccc;
			&.active,
			&.active:hover,
			&:hover{
				border: 3px solid $orange;
			}
		}
		&.show{
			bottom: 5px;
		}
		.colors.show div.color-box{
			&:not(.color){
				border: 2px solid red;
				position: relative;
				&:after,
				&:before{
					content: "";
					position: absolute;
					left: -8px;
					width: 44px;
					height: 1px;
					background: red;
					top: 14px;
				}
				&:after{
					-moz-transform: rotate(45deg);
					/* Для Firefox */
					-ms-transform: rotate(45deg);
					/* Для IE */
					-webkit-transform: rotate(45deg);
					/* Для Safari, Chrome, iOS */
					-o-transform: rotate(45deg);
					/* Для Opera */
					transform: rotate(45deg);
				}
				&:before{
					-moz-transform: rotate(-45deg);
					/* Для Firefox */
					-ms-transform: rotate(-45deg);
					/* Для IE */
					-webkit-transform: rotate(-45deg);
					/* Для Safari, Chrome, iOS */
					-o-transform: rotate(-45deg);
					/* Для Opera */
					transform: rotate(-45deg);
				}
			}
		}
	}

	.construct-options{
		position: relative;
		.panel{
			transition: all .3s ease .1s;
			.panel-header{
				margin: 20px 0 25px;
				h3{
					display: inline-block;
					font-size: 23px;
					line-height: 60px;
					font-weight: 600;
					margin-right: 2%;
				}
				.tube-forms{
					width: 71%;
					display: inline-block;
					vertical-align: 2px;
					margin-bottom: 0;
					.cb-btn{
						margin: 10px;
						&:last-child{
							margin-right: 0;
						}
						&:first-child{
							margin-left: 0;
						}
					}
				}
			}
			.panel-body{
				position: relative;
				margin-bottom: 50px;
				.tube-types-2{
					margin-top: 20px;
					h3{
						margin-bottom: 20px;
						font-weight: 600;
					}
				}
			}

			.panel-footer{
				margin-top: 25px;
				height: 40px;
			}
		}
	}

	.panel-body .swiper-container{
		width: 101.5%;
		.swiper-slide{
			transition: all .3s ease .1s;
			width: 15%;
			text-align: center;
			cursor: pointer;
			margin-right: 1.97%!important;
			overflow: hidden;
			height: auto;
			img{
				width: 100.5%;
				height: auto;
				display: block;
				border: 3px solid #ccc;
				-webkit-transition: .4s;
				transition: .4s;
			}
			.text{
				height: 38px;
				line-height: 1;
				text-align: center;
				display: table;
				width: 100%;
				font-size: 14px;
				font-size: .875rem;
				color: #333;
				font-weight: 700;
				span{
					display: table-cell;
					vertical-align: top;
					text-transform: uppercase;
					padding-top: 10px;
				}
			}
			&.active img{
				border: 3px solid $orange;
			}
			&.active:hover img,
			&:hover img{
				border: 3px solid #ffb7af;
			}
		}
		.swiper-scrollbar{
			bottom: -8px;
		}
	}
	.swiper-button-next,
	.swiper-button-prev{
		position: absolute;
		margin: 0;
		top: 0;
		bottom: 30px;
		height: auto;
		width: 20px;
		z-index: 100;
	}
	.swiper-button-next.swiper-button-disabled,
	.swiper-button-prev.swiper-button-disabled{
		opacity: .2;
	}
	.swiper-button-prev{
		left: -30px;
		background: url(images/arrow-left.png) 50% 50% no-repeat;
	}
	.swiper-button-next{
		right: -30px;
		background: url(images/arrow-right.png) 50% 50% no-repeat;
	}
}