@charset "UTF-8";
/**
 * Стили конструктора 3.0
 */
/**
 * Defaults and reset
 */
.constructor.win-1 {
  /*block_2*/ }
  .constructor.win-1 h2 {
    font-family: "OpenSans-Regular";
    font-weight: normal;
    font-size: 42px;
    line-height: 38px;
    margin: 0; }
    .constructor.win-1 h2 span {
      display: block;
      text-transform: none;
      font-size: 26px;
      line-height: 28px;
      margin-top: 10px; }
  .constructor.win-1 .main-button.create-cornice-btn {
    padding: 20px 50px 24px;
    font-size: 1.2em; }
  .constructor.win-1 .block_1 {
    margin: 0 auto;
    position: relative; }
    .constructor.win-1 .block_1 .hand_img {
      background: url("../images/hand.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      width: 50%;
      height: 400px;
      display: inline-block;
      vertical-align: top; }
    .constructor.win-1 .block_1 .inner_1 {
      height: auto;
      width: 49%;
      text-align: left;
      display: inline-block;
      vertical-align: top; }
    .constructor.win-1 .block_1 h2 {
      color: #177dd2;
      margin-top: 10px; }
    .constructor.win-1 .block_1 ul {
      padding: 0;
      margin: 0;
      margin-top: 20px; }
      .constructor.win-1 .block_1 ul li {
        margin-bottom: 15px;
        padding-left: 20px;
        list-style: none;
        position: relative;
        font-size: 16px;
        line-height: 24px; }
        .constructor.win-1 .block_1 ul li:before {
          content: url("../images/list-style.png");
          position: absolute;
          top: 2px;
          margin-right: 0; }
    .constructor.win-1 .block_1 .create-cornice-btn {
      margin-top: 10px;
      margin: 10px 0 40px; }
  .constructor.win-1 .block_2 {
    width: 100%;
    background-color: #f6f6f6;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center; }
    .constructor.win-1 .block_2 h2 {
      margin-top: 0; }
    .constructor.win-1 .block_2 table {
      font-weight: 600;
      font-size: 18px;
      color: #667;
      margin: 0 auto;
      margin-top: 40px; }
      .constructor.win-1 .block_2 table td {
        padding-bottom: 40px;
        line-height: 1.6;
        vertical-align: top; }
        .constructor.win-1 .block_2 table td:first-child {
          text-align: right;
          padding-right: 1%; }
        .constructor.win-1 .block_2 table td:last-child {
          text-align: left;
          padding-left: 1%; }
    .constructor.win-1 .block_2 .color_text {
      font-weight: 800;
      font-size: 30px;
      text-transform: uppercase;
      line-height: 1.1; }
      .constructor.win-1 .block_2 .color_text div {
        font-size: 48px; }
    .constructor.win-1 .block_2 .main-button.create-cornice-btn {
      text-align: center; }
  .constructor.win-1 .insc_1_wrap {
    width: 100%;
    border-top: 1px solid #b5b8bc;
    margin: 0 auto;
    margin-top: 73px; }
  .constructor.win-1 .insc_1 {
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    width: 520px;
    margin: 0 auto;
    margin-top: -20px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f6f6f6;
    text-align: center; }
  .constructor.win-1 .insc_2 {
    font-weight: 600;
    font-style: Italic;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 35px;
    text-align: center; }
  .constructor.win-1 .clr_text_1 {
    color: #f76273; }
  .constructor.win-1 .clr_text_2 {
    color: #7ea5c9; }
  .constructor.win-1 .clr_text_3 {
    color: #94d041; }
  .constructor.win-1 .clr_text_4 {
    color: #ab77c0; }

@media (max-width: 550px) {
  .constructor.win-1 .block_1 .inner_1 {
    margin-top: 20px; }
  .constructor.win-1 .block_1 .hand_img {
    height: 77vw; }
  .constructor.win-1 .block_1 .hand_img, .constructor.win-1 .block_1 .inner_1 {
    text-align: center;
    width: 100%; }
  .constructor.win-1 .block_1 ul li:before {
    content: none; }
  .constructor.win-1 .block_2 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
    .constructor.win-1 .block_2 table tr {
      border-top: 8px solid #fff; }
    .constructor.win-1 .block_2 table td {
      display: block; }
      .constructor.win-1 .block_2 table td:first-child {
        padding: 20px 2% 10px;
        text-align: center; }
      .constructor.win-1 .block_2 table td:last-child {
        text-align: center;
        padding: 0 2% 20px; }
    .constructor.win-1 .block_2 .create-cornice-btn {
      margin-top: 40px; }
  .constructor.win-1 .create-cornice-btn {
    width: 100%; } }

/**
 * Media Queries
 */
@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }
