<div class="basket-slider">
	<div class="swiper-button-up"></div>
	<div class="basket-items swiper-container swiper-container-vertical">
		<ks-swiper-container [options]="basketSwiperOptions" class="swiper-wrapper">
			<ks-swiper-slide *ngFor="let key of basket.itemKeys" class="swiper-slide item">
				<div class="image">
					<img [src] = "basket.items[key]?.basketImgSrc" alt="">
				</div>
				<div class="name" [innerHTML]="basket.items[key]?.name"></div>
				<div class="price">Цена: <span [innerHTML]="basket.items[key]?.priceFormatted"></span>/{{basket.items[key]?.baseUnit}}</div>
				<div class="count">
					Кол-во: {{basket.items[key]?.length}}
					<span *ngIf="basket.items[key].tubeLength"> (x{{basket.items[key]?.tubeLength/10}} см)</span>
				</div>
			</ks-swiper-slide>
		</ks-swiper-container>
		<div class="swiper-scrollbar">
			<div class="swiper-scrollbar-drag"></div>
		</div>
	</div>
	<div class="swiper-button-down"></div>
</div>




<!-- <div class="myslides">
	<ks-swiper-container [options]="itemsSwipeOptions" (onClickNext) = "onClickNext($e)">
		<ks-swiper-slide *ngFor="let s of [1,2,3,4,5,6,7]">
			<img src="http://api.randomuser.me/portraits/thumb/men/{{s}}.jpg" (click)="slideClicked(s)">
		</ks-swiper-slide>
	</ks-swiper-container>
	<button (click)="movePrev()">Prev</button>
	<button (click)="moveNext()">Next</button>
</div> -->

