<section class="checkout" id="basket">
	<div class="preloader-block" *ngIf="preloader"><div class="preloader"></div></div>
	<div class="timers-block">
		<div class="timer" *ngIf="showTimer"><span>{{ticks}}</span></div>
	</div>
	<ul class="basket-items">
		<li class="item" *ngFor="let key of basket.itemKeys">
			<div class="image">
				<img [src]=basket?.items[key]?.previewImgSrc [alt]=basket?.items[key]?.name>
			</div>
			<div class="name">{{basket?.items[key]?.name}}</div>
			<div class="count">Кол-во: {{basket?.items[key]?.length}}</div>
			<div class="sum">{{basket?.items[key]?.price * basket?.items[key]?.length | priceformat:basket?.items[key]?.currency}}</div>
		</li>
	</ul>
	<div class="total-sum">{{basket?.sumFormatted}}</div>

	<div class="navigation-wrap">
		<a class="cb-btn big grey back" (click)="gotoStep(5)">
			Изменить карниз
		</a>
		<a class="cb-btn big checkout" (click)="checkout(basket)">
			Оформить заказ
		</a>
	</div>
</section>