<section id="final" class="final-popup">
	<div class="wrap">
		<h3>Поздравляем! Ваш&nbsp;карниз&nbsp;готов!</h3>

		<p>Для оформления заказа нажмите «<span>Оформить&nbsp;заказ</span>»</p>

		<p>Чтобы сохранить текущий карниз в корзину <br/>
			и собрать новый, нажмите «<span>Продолжить</span>»</p>

		<div class="cross goto" data-step="7"></div>
		<div class="btn-round back goto ga-continue" data-step="1" onclick=" yaCounter11485624.reachGoal('continue'); return true;">Продолжить</div>
		<a class="btn-round cart ga-gotocart" href="/personal/cart/" onclick=" yaCounter11485624.reachGoal('ordercart'); return true;">Оформить заказ</a>
	</div>
</section>