<section class="home" id="step-{{cornice?.activeStep}}">
	<header class="header" id="header" [@visibilityTrigger]="isVisible">
		<div class="top-block">
			<div class="logo">
				<a href="/"><img src="assets/images/olexdeco-logo-text.svg" alt="olexdeco"></a>
			</div>
			<div class="mob-block">
				<!-- <a href="#save-img" class="mob-link save-link"></a> -->
				<a *ngIf="cornice?.imgSrc" class="mob-link save-link" href="{{cornice?.imgSrc}}" download="corniceimg.{{cornice?.imgExt}}"></a>
				<a class="mob-link print-link"></a>
				<a class="mob-link basket-link" (click)="mobBasketlinkClicked()" [class.active] = "isMobileBasketActive"></a>
				<a class="mob-link navigation-link" (click)="mobNavlinkClicked()" [class.active] = "isMobileMenuActive"></a>
			</div>
			<div class="phone-block">
				<a href="tel:88007009931" class="phone" (click)="aaa()"><i class="fas fa-phone"></i> 8 800 700 99 31</a>
			</div>
		</div>
		<div class="nav-block row">
			<div class="mobile-trigger" [@mobileSlideTrigger]="isMobileMenuActive">
				<nav class="navigation">
					<a *ngFor="let step of steps" 
					class="step" [class.active]="step.isActive" 
					[class.disable]="step.isDisabled" 
					(click)="gotoStep(step.id)">
						<span class="number">{{step.id+1}}</span><span class="text" [innerHTML]="step.title"></span>
					</a>
				</nav>
			</div>
		</div>
	</header>

	<div class="builder-content" *ngIf="isLoaded">

		<!-- 
		Шаг 1: Выбор количества рядов 
		-->
		<cornice-rows [cornice]="cornice" [steps]="steps" [filter]="filter" *ngIf="cornice.activeStep == 0"></cornice-rows>

		<!-- 
		Шаг 2: Выбор профиля 
		-->
		<cornice-parts-tubes [cornice]="cornice" [steps]="steps" [filter]="filter" [user]="user" [isMobileBasketActive]="isMobileBasketActive" (onStepChanged) = "onStepChanged($event)" (onCorniceChanged) = "onCorniceChanged($event)" *ngIf="cornice.activeStep == 1"></cornice-parts-tubes>

		<!-- 
		Шаг 3: Выбор кронштейна 
		-->
		<cornice-parts-mount [cornice]="cornice" [steps]="steps" [filter]="filter" [user]="user" [isMobileBasketActive]="isMobileBasketActive" (onStepChanged) = "onStepChanged($event)" (onCorniceChanged) = "onCorniceChanged($event)" *ngIf="cornice.activeStep == 2"></cornice-parts-mount>

		<!-- 
		Шаг 4: Выбор наконечника 
		-->
		<cornice-parts-cap [cornice]="cornice" [steps]="steps" [filter]="filter" [user]="user" [isMobileBasketActive]="isMobileBasketActive" (onStepChanged) = "onStepChanged($event)" (onCorniceChanged) = "onCorniceChanged($event)" *ngIf="cornice.activeStep == 3"></cornice-parts-cap>

		<!-- 
		Шаг 5: Выбор колец и крючков 
		-->
		<cornice-parts-ring [cornice]="cornice" [steps]="steps" [filter]="filter" [user]="user" [isMobileBasketActive]="isMobileBasketActive" (onStepChanged) = "onStepChanged($event)" (onCorniceChanged) = "onCorniceChanged($event)" *ngIf="cornice.activeStep == 4"></cornice-parts-ring>

		<!-- 
		Шаг 6: Выбор характеристик карниза 
		-->
		<cornice-properties [cornice]="cornice" [steps]="steps" (onStepChanged) = "onStepChanged($event)" [filter]="filter" *ngIf="cornice.activeStep == 5"></cornice-properties>

		<!-- 
		Шаг 7: Оформление <br>заказа 
		-->
		<cornice-checkout [cornice]="cornice" [steps]="steps" (onStepChanged) = "onStepChanged($event)" *ngIf="cornice.activeStep == 6"></cornice-checkout>


		<!-- <cornice-finalpopup [cornice]="cornice" [steps]="steps" *ngIf="cornice.activeStep == 7"></cornice-finalpopup> -->



		<div class="panel-footer-arrow" 
			*ngIf="cornice.activeStep == 1 || 
					cornice.activeStep == 2 || 
					cornice.activeStep == 3 || 
					cornice.activeStep == 4 || 
					cornice.activeStep == 5"
		>
			<div class="navigation-wrap">
				<a class="navigation prev goto" [class.active]="cornice.activeStep > 0" (click)="gotoStep(cornice.activeStep-1)">Назад</a>
				<a class="navigation next goto" [class.active]="cornice.activeStep < 6" (click)="gotoStep(cornice.activeStep+1)">Далее</a>
			</div>
		</div>

		<div class="preloader-block" *ngIf="preloader"><div class="preloader"></div></div>
	</div>
</section>


