<div class="ks-swiper-container swiper-container-horizontal">
	<ks-swiper-container [options]="itemsSwipeOptions" class="swiper-wrapper">
		<ks-swiper-slide *ngFor="let swiperItem of swiperItems"
			class="swiper-slide list-item"
			[class.active]="swiperItem.id == corniceItemId"
			id="{{swiperItem.id}} | {{corniceItemId}}"
			(click)="slideClicked(swiperItem.id)"
		>
			<img [src]="swiperItem.previewImgSrc" id="{{swiperItem.id}}" alt="{{swiperItem.name}}" title="{{swiperItem.name}}">
			<div class="text">
				<span>{{swiperItem.name}}</span>
			</div>
		</ks-swiper-slide>
		
	</ks-swiper-container>

	<div class="swiper-scrollbar">
		<div class="swiper-scrollbar-drag"></div>
	</div>

	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>

</div>