<!-- 
Шаг 2: Выбор профиля 
-->
<section id="construct">
	<div class="preloader-block" *ngIf="preloader"><div class="preloader"></div></div>
	<!-- <div class="timers-block">
		<div class="timer" *ngIf="showDTimer"><span>{{timerExt?.title}}</span>: <span>{{timerExt?.ticks}}</span></div>
		<div class="timer" *ngIf="showTimer"><span>{{ticks}}</span></div>
	</div> -->
	
	<!-- Основное окно сборки -->
	<div class="construct-main">
		<div id="canvas">
			<div class="img-block">
				<figure class="cornice-img">
					<img [src]="cornice?.imgSrc" alt="">
					<div class="gradient top"></div>
					<div class="gradient bottom"></div>
				</figure>
				<a *ngIf="cornice.imgSrc" class="save" href="{{cornice?.imgSrc}}" download="corniceimg.{{cornice?.imgExt}}"></a>
				<a *ngIf="cornice.imgSrc" class="print" (click)="printImg(cornice.imgSrc)"></a>
				<a *ngIf="user?.IS_ADMIN" class="delete" (click)="updateImg(cornice.imgSrc)">Обновить картинку карниза</a>
			</div>
		</div>

		<div class="mobile-trigger" [@mobileBasketTrigger]="isMobileBasketActive">
			<!-- Корзина -->
			<div id="canvas-basket">
				
				<basket-slider #basketSlider [basket]="basket"></basket-slider>

				<a class="buy goto" (click)="buy(cornice)">
					Купить этот карниз<br/>
					<span class="total-sum" [innerHTML]="basket?.sumFormatted"></span>
				</a>
			</div>
		</div>

		<a class="navigation prev" [class.active]="cornice.activeStep > 0" (click)="gotoStep(cornice.activeStep-1)"></a>
		<a class="navigation next" [class.active]="cornice.activeStep < 6" (click)="gotoStep(cornice.activeStep+1)"></a>

	</div>
	
	<!-- цвета -->
	<div class="colors">
		<a *ngFor="let color of colors" class="color-box {{color.name}}" id="{{color.id}}" [class.active]="corniceItemColorId==color.id" (click)="colorSelected(color.id)"><img [src]="color.imgSrc" alt="{{color.name}}" title="{{color.name}}"/></a>
	</div>

	<!-- Слайдеры с выборками элементов -->
	<div class="construct-options">

		<!-- Слайдер с трубами -->
		<div class="panel">
			<div class="panel-header">
				<h3>{{steps[cornice.activeStep].texts.swiperCaption}}</h3>
				<div class="tube-forms" *ngIf="cornice.activeStep == 1">
					<a *ngFor="let tubeForm of tubeForms" class="cb-btn" id="{{tubeForm.id}}" [class.active]="filter.tubeFormIds[0]==tubeForm.id" (click)="tubeFormSelected(tubeForm.id)" [innerHTML]="tubeForm.name"></a>
				</div>
			</div>

			<div class="panel-body">
				<items-slider #itemsSlider [corniceItemId] = "corniceItemId" [swiperItems]="swiperItems" (swiperItemSelected) = "swiperItemSelected($event)"></items-slider>
				
				<div class="tube-types-2" *ngIf="cornice.activeStep == 1 && swiperItems2?.length > 1">
					<h3>Выберите тип трубы 2-го ряда</h3>
					<items-slider #itemsSlider2 [corniceItemId] = "corniceItemId2" [swiperItems]="swiperItems2" (swiperItemSelected) = "swiperItemSelected2($event)"></items-slider>
				</div>

			</div>
			
		</div>
		
	</div>

</section>

