<section id="properties">
	<div class="preloader-block" *ngIf="preloader"><div class="preloader"></div></div>
	<div class="timers-block">
		<div class="timer" *ngIf="showTimer"><span>{{ticks}}</span></div>
	</div>
	
	<div class="segments" id="segments">
		<div class="segment left-segment">
			<div class="segment-content" [@leftSideTrigger]="isLeftSideVisible">
				<div class="add">
					<div class="type-wrap top">
						<div class="type-wrap-header">
							<h3>Добавить слева</h3>
						</div>
						<div class="type">
							<a class="cb-btn" [class.disabled]="!connectorExists?.direct" (click)="leftSegmentAdded('direct')">Прямо</a>
							<a class="cb-btn" [class.disabled]="!connectorExists?.oriel" (click)="leftSegmentAdded('oriel')">Эркер</a>
						</div>
					</div>
				</div>
				<div class="added">
					<div class="picture"><img *ngIf="cornice.sides.left.imgSrc" src="{{cornice.sides.left.imgSrc}}" alt="" title=""/></div>
					<div class="total-sum">{{basket?.sumFormatted}}</div>
					<a class="cross"(click)="leftSegmentDelete()"><i class="fas fa-times-circle"></i></a>
					<div class="length-wrap">
						<h3>Выберите длину трубы, см</h3>
						<div class="length-select">
							<select #selectItemLeft (change)="leftSegmentTubeLengthSelected(selectItemLeft.value)">
							<option *ngFor="let tubeLength of tubeLengths"
								[value]="tubeLength?.value"
								[selected]="cornice.sides.left.tubeLength == tubeLength?.value"
							>
								{{tubeLength?.value/10}}
								{{
									(
									tubeLength?.value == 2800
									|| tubeLength?.value == 3200
									|| tubeLength?.value == 3600
									|| tubeLength?.value == 4000
									) ? ' составная' : ''
								}}
							</option>
						   </select>
						</div>
					</div>
					<div class="type-wrap bottom">
						<div class="type">
							<a class="cb-btn" [class.active]="cornice.sides.left.type == 'direct'" [class.disabled]="!connectorExists?.direct" (click)="setLeftSegmentType('direct')">Прямо</a>
							<a class="cb-btn" [class.active]="cornice.sides.left.type == 'oriel'" [class.disabled]="!connectorExists?.oriel" (click)="setLeftSegmentType('oriel')">Эркер</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="segment center-segment">
			<div class="picture"><img *ngIf="cornice.schemeImgSrc" src="{{cornice.schemeImgSrc}}" alt="" title=""/></div>
			<div class="total-sum">{{basket?.sumFormatted}}</div>
			<div class="length-wrap">
				<h3>Выберите длину трубы, см</h3>
				<div class="length-select">
					<select #selectItem (change)="tubeLengthSelected(selectItem.value)">
					<option *ngFor="let tubeLength of tubeLengths"
						[value]="tubeLength?.value"
						[selected]="cornice.tubes[0].tubeLength == tubeLength?.value"
					>
						{{tubeLength?.value/10}} 
						{{
							(
							tubeLength?.value == 2800
							|| tubeLength?.value == 3200
							|| tubeLength?.value == 3600
							|| tubeLength?.value == 4000
							) ? ' составная' : ''
						}}
					</option>
				   </select>
				</div>
			</div>
			<h3 class="with-underline">Кронштейны, штук</h3>
			<div class="mounts-count">{{basket?.itemLengths.mounts}}</div>
			<p>Обратите внимание! Для карнизов длиной от 2,4 м <br>необходимо не менее 3х кронштейнов.</p>
			<h3 class="with-underline">{{ringsTitle}}, упаковок по {{ringsPackQuantity}} шт.</h3>
			<div class="rings-count">{{basket?.itemLengths.rings}}</div>
			<p>Обратите внимание! Карниз комплектуется кольцами (бегунками) из расчета {{ringByMeter}} шт./м. пог. для каждой трубы.</p>
		</div>

		<div class="segment right-segment">
			<div class="segment-content" [@rightSideTrigger]="isRightSideVisible">
				<div class="added">
					<div class="picture"><img *ngIf="cornice.sides.right.imgSrc" src="{{cornice.sides.right.imgSrc}}" alt="" title=""/></div>
					<div class="total-sum">{{basket?.sumFormatted}}</div>
					<a class="cross" (click)="rightSegmentDelete()"><i class="fas fa-times-circle"></i></a>
					<div class="length-wrap">
						<h3>Выберите длину трубы, см</h3>
						<div class="length-select">
							<select #selectItemRight (change)="rightSegmentTubeLengthSelected(selectItemRight.value)">
							<option *ngFor="let tubeLength of tubeLengths"
								[value]="tubeLength?.value"
								[selected]="cornice.sides.right.tubeLength == tubeLength?.value"
							>
								{{tubeLength?.value/10}}
								{{
									(
									tubeLength?.value == 2800
									|| tubeLength?.value == 3200
									|| tubeLength?.value == 3600
									|| tubeLength?.value == 4000
									) ? ' составная' : ''
								}}
							</option>
						   </select>
						</div>
					</div>
					<div class="type-wrap bottom">
						<div class="type">
							<a class="cb-btn" [class.active]="cornice.sides.right.type == 'direct'" [class.disabled]="!connectorExists?.direct" (click)="setRightSegmentType('direct')">Прямо</a>
							<a class="cb-btn" [class.active]="cornice.sides.right.type == 'oriel'" [class.disabled]="!connectorExists?.oriel" (click)="setRightSegmentType('oriel')">Эркер</a>
						</div>
					</div>
				</div>
				<div class="add">
					<div class="type-wrap top">
						<div class="type-wrap-header">
							<h3>Добавить справа</h3>
						</div>
						<div class="type">
							<a class="cb-btn" [class.disabled]="!connectorExists?.direct" (click)="rightSegmentAdded('direct')">Прямо</a>
							<a class="cb-btn" [class.disabled]="!connectorExists?.oriel" (click)="rightSegmentAdded('oriel')">Эркер</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="navigation-wrap">
		<a class="ready next goto ga-total" (click)="buy(cornice)">Готово</a>
	</div>
</section>