<section id="rows" [@visibilityTrigger]="isVisible">
	<h3>Сколько рядов вы хотите?</h3>
	<div class="variants">
		<div *ngFor="let row of rows; let i = index" class="choice" id={{row.id}} [class.active]="filter.nRowsId==row.id" (click)="rowsSelected(row.id)" >
			<div class="image"><img src="./assets/images/row{{i+1}}.png"></div>
			<div class="text">{{row.name}}</div>
		</div>
	</div>
	<div class="preloader-block" *ngIf="preloader"><div class="preloader"></div></div>
</section>

