<!DOCTYPE html>
<html xml:lang="ru" lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Конструктор карнизов</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="keywords" content="олексдеко карнизы официальный сайт, купить карнизы для штор в интернет магазине, интернет магазин карнизов для штор, купить карниз для штор в интернет магазине, olexdeco карнизы, собрать карниз" />
	<meta name="description" content="«OLEXDECO». Собрать карниз" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	
	<link href='./css/style.css?v=3.0' rel='stylesheet' type='text/css' media="all">
	<link href='./css/swiper.css?v=3.0' rel='stylesheet' type='text/css' media="all">

	<!--script src="./vendor/js/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="./vendor/js/swiper.jquery.min.js" type="text/javascript"></script>
	<script src="./js/main.js" type="text/javascript"></script-->

</head>

<body id="main" class="cornice-builer-page">

		<div class="wrapper">

			<div class="content">
				<div id="builder" class="admin">
					
					<cornice-app ng-version="4.3.6"><header class="header" id="header">
	<div class="logo">
		<a href="/"><img alt="olexdeco" src="./css/images/logo_2.png"></a>
		<div class="phone">8 800 700 99 31</div>
	</div>

	<nav class="navigation">
		<a class="step">
			<span class="number">1</span><span class="text">Выбор <br>ряда</span>
		</a><a class="step">
			<span class="number">2</span><span class="text">Выбор <br>трубы (профиля)</span>
		</a><a class="step">
			<span class="number">3</span><span class="text">Выбор <br>кронштейна</span>
		</a><a class="step">
			<span class="number">4</span><span class="text">Выбор <br>наконечника</span>
		</a><a class="step">
			<span class="number">5</span><span class="text">Выбор <br>колец и крючков</span>
		</a><a class="step active">
			<span class="number">6</span><span class="text">Выбор <br>характеристик карниза</span>
		</a><a class="step">
			<span class="number">7</span><span class="text">Оформление <br>заказа</span>
		</a>
	</nav>
</header>



<cornice-cornice-checkout>
<section class="checkout" id="basket">
	<!-- <div class="preloader-block" *ngIf="preloader"><div class="preloader"></div></div>
	<div class="timers-block">
		<div class="timer" *ngIf="showTimer"><span>{{ticks}}</span></div>
	</div> -->
	<ul class="basket-items">
		<li class="item">
			<div class="image">
				<img src="https://olexdeco.ru/upload/jpeg/resize_cache/iblock/33a/300_300_2b89387944bcb410e6a47677ca7326cc0/16-kronshteyn-_kardera_-a.jpg" alt="">
			</div>
			<div class="name">Кардера I</div>
			<div class="count">Кол-во: 2</div>
			<div class="sum">544 <span>руб.</span> </div>
		</li>
		<li class="item">
			<div class="image">
				<img src="https://olexdeco.ru/upload/jpeg/resize_cache/iblock/859/300_300_2b89387944bcb410e6a47677ca7326cc0/koltso_krugloe_16_a.jpg" alt="">
			</div>
			<div class="name">Круглое</div>
			<div class="count">Кол-во: 2</div>
			<div class="sum">214 <span>руб.</span> </div>
		</li>
		<li class="item">
			<div class="image">
				<img src="https://olexdeco.ru/upload/jpeg/resize_cache/iblock/859/300_300_2b89387944bcb410e6a47677ca7326cc0/koltso_krugloe_16_a.jpg" alt="">
			</div>
			<div class="name">Круглое</div>
			<div class="count">Кол-во: 2</div>
			<div class="sum">214 <span>руб.</span> </div>
		</li>
		<li class="item">
			<div class="image">
				<img src="https://olexdeco.ru/upload/jpeg/resize_cache/iblock/859/300_300_2b89387944bcb410e6a47677ca7326cc0/koltso_krugloe_16_a.jpg" alt="">
			</div>
			<div class="name">Круглое</div>
			<div class="count">Кол-во: 2</div>
			<div class="sum">214 <span>руб.</span> </div>
		</li>
	</ul>
	<div class="total-sum">1 615 <span>руб.</span></div>
	
	<div class="navigation-wrap">
		<a class="cb-btn big grey back" (click)="gotoStep(5)">
			Изменить карниз
		</a>
		<a class="cb-btn big checkout" (click)="checkout(cornice)">
			Оформить заказ
		</a>
	</div>

</section>

</cornice-cornice-checkout>


</cornice-app>

				</div>    
			</div><!-- .content -->


		</div><!-- .wrapper -->


	

</body>
</html>




