<!DOCTYPE html>
<html xml:lang="ru" lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Конструктор карнизов</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="keywords" content="олексдеко карнизы официальный сайт, купить карнизы для штор в интернет магазине, интернет магазин карнизов для штор, купить карниз для штор в интернет магазине, olexdeco карнизы, собрать карниз" />
	<meta name="description" content="«OLEXDECO». Собрать карниз" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	
	<link href='./css/style.css?v=3.0' rel='stylesheet' type='text/css' media="all">
	<link href='./css/swiper.css?v=3.0' rel='stylesheet' type='text/css' media="all">

	<script src="./vendor/js/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="./vendor/js/swiper.jquery.min.js" type="text/javascript"></script>
	<script src="./js/main.js" type="text/javascript"></script>

</head>

<body id="main" class="cornice-builer-page">

		<div class="wrapper">

			<div class="content">
				<div id="builder" class="admin">
					
					<cornice-app class="ng-tns-c0-0" ng-version="4.3.6"><section class="home">
	<header class="header ng-trigger ng-trigger-visibilityTrigger" id="header" style="opacity: 1; transform: scale(1);">
		<div class="logo">
			<a class="ng-tns-c0-0" href="/"><img class="ng-tns-c0-0" alt="olexdeco" src="./css/images/logo_2.png"></a>
			<div class="phone">8 800 700 99 31</div>
		</div>

		<nav class="navigation">
			<!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--><a class="step ng-tns-c0-0 active">
				<span class="number">1</span><span class="text">Выбор <br>ряда</span>
			</a><a class="step ng-tns-c0-0 disable">
				<span class="number">2</span><span class="text">Выбор <br>трубы (профиля)</span>
			</a><a class="step ng-tns-c0-0 disable">
				<span class="number">3</span><span class="text">Выбор <br>кронштейна</span>
			</a><a class="step ng-tns-c0-0 disable">
				<span class="number">4</span><span class="text">Выбор <br>наконечника</span>
			</a><a class="step ng-tns-c0-0 disable">
				<span class="number">5</span><span class="text">Выбор <br>колец и крючков</span>
			</a><a class="step ng-tns-c0-0 disable">
				<span class="number">6</span><span class="text">Выбор <br>характеристик карниза</span>
			</a><a class="step ng-tns-c0-0 disable">
				<span class="number">7</span><span class="text">Оформление <br>заказа</span>
			</a>
		</nav>
	</header>

	<!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="builder-content ng-tns-c0-0">

		
		<!--bindings={
  "ng-reflect-ng-if": "true"
}--><cornice-rows class="ng-tns-c1-1 ng-tns-c0-0" ng-reflect-cornice="[object Object]" ng-reflect-filter="[object Object]" ng-reflect-steps="[object Object],[object Object"><section class="ng-tns-c1-1 ng-trigger ng-trigger-visibilityTrigger" id="rows" style="opacity: 1; transform: scale(1);">
	<h3 class="ng-tns-c1-1">Сколько рядов вы хотите?</h3>
	<div class="variants">
		<!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--><div class="choice ng-tns-c1-1" id="30056">
			<div class="image"><img class="ng-tns-c1-1" src="./images/row1.png"></div>
			<div class="text">1 ряд</div>
		</div><div class="choice ng-tns-c1-1" id="30057">
			<div class="image"><img class="ng-tns-c1-1" src="./images/row2.png"></div>
			<div class="text">2 ряда</div>
		</div><div class="choice ng-tns-c1-1" id="30058">
			<div class="image"><img class="ng-tns-c1-1" src="./images/row3.png"></div>
			<div class="text">3 ряда</div>
		</div>
	</div>
	<!--bindings={
  "ng-reflect-ng-if": "false"
}-->
</section>

</cornice-rows>

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->


		



		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->

		<!--bindings={}-->
	</div>
</section>


</cornice-app>

				</div>    
			</div><!-- .content -->


		</div><!-- .wrapper -->


	

</body>
</html>




