<!DOCTYPE html>
<html xml:lang="ru" lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Конструктор карнизов</title>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="keywords" content="олексдеко карнизы официальный сайт, купить карнизы для штор в интернет магазине, интернет магазин карнизов для штор, купить карниз для штор в интернет магазине, olexdeco карнизы, собрать карниз" />
	<meta name="description" content="«OLEXDECO». Собрать карниз" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	
	<link href='./vendor/css/fontawesome-all.min.css' rel='stylesheet' type='text/css' media="all">
	<link href='./css/style.css?v=3.1' rel='stylesheet' type='text/css' media="all">
	<link href="./css/swiper.css?v=3.0" rel='stylesheet' type='text/css' media="all">

	<script src="./vendor/js/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="./js/main.js" type="text/javascript"></script>

</head>

<body id="main" class="cornice-builer-page">


		<div class="wrapper">

			<div class="content">
				<div id="builder" class="admin">
					
					<cornice-app class="ng-tns-c0-0" ng-version="4.3.6"><section class="home" id="step-1">

	<header class="header ng-trigger ng-trigger-visibilityTrigger" id="header" style="opacity: 1; transform: scale(1);">
		<div class="top-block">
			<div class="logo"><a class="ng-tns-c0-0" href="/"><img class="ng-tns-c0-0" alt="olexdeco" src="./images/olexdeco-logo-text.svg"></a></div>
			<div class="mob-block">
				<a href="#save-img" class="mob-link save-link"></a>
				<a href="#print-img" class="mob-link print-link"></a>
				<a href="#mob-basket" class="mob-link basket-link"></a>
				<a href="#mob-nav" class="mob-link navigation-link"></a>
			</div>
			<div class="phone-block">
				<a href="tel:88007009931" class="phone"><i class="fas fa-phone"></i> 8 800 700 99 31</a>
			</div>
		</div>
		<div class="nav-block row">
			<div class="mobile-trigger">
				<nav class="navigation">
					<!--bindings={
					  "ng-reflect-ng-for-of": "[object Object],[object Object"
					}-->
					<a class="step ng-tns-c0-0 active">
						<span class="number">1</span><span class="text">Выбор ряда</span>
					</a><a class="step ng-tns-c0-0 disable">
						<span class="number">2</span><span class="text">Выбор трубы (профиля)</span>
					</a><a class="step ng-tns-c0-0 disable">
						<span class="number">3</span><span class="text">Выбор кронштейна</span>
					</a><a class="step ng-tns-c0-0 disable">
						<span class="number">4</span><span class="text">Выбор наконечника</span>
					</a><a class="step ng-tns-c0-0 disable">
						<span class="number">5</span><span class="text">Выбор колец и крючков</span>
					</a><a class="step ng-tns-c0-0 disable">
						<span class="number">6</span><span class="text">Выбор характеристик карниза</span>
					</a><a class="step ng-tns-c0-0 disable">
						<span class="number">7</span><span class="text">Оформление заказа</span>
					</a>
				</nav>
			</div>
		</div>
	</header>

<div class="builder-content ng-tns-c0-0">

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->

		
		<!--bindings={
  "ng-reflect-ng-if": "true"
}--><cornice-parts-tubes class="ng-tns-c0-0" ng-reflect-cornice="[object Object]" ng-reflect-filter="[object Object]" ng-reflect-steps="[object Object],[object Object">
<section id="construct">
	<!--bindings={
  "ng-reflect-ng-if": "false"
}-->
	
	
	
	<div class="construct-main">
		<div id="canvas">

			<div class="img-block">
				<figure class="cornice-img">
					<img alt="" src="/upload/cornice_builder/c_18702_m_18761_r_19418_t_19036.jpg?v=1521457836812">
					<div class="gradient top"></div>
					<div class="gradient bottom"></div>
				</figure>
				<!--bindings={
				  "ng-reflect-ng-if": "/upload/cornice_builder/c_1870"
				}-->
				<a class="save" href="/upload/cornice_builder/c_18702_m_18761_r_19418_t_19036.jpg?v=1521457836812" download="corniceimg.jpg"></a>
				<!--bindings={
				  "ng-reflect-ng-if": "/upload/cornice_builder/c_1870"
				}-->
				<a class="print"></a>
				<!--bindings={
				  "ng-reflect-ng-if": null
				}-->
			</div>
			
			
			
		</div>
		


		<div class="mobile-trigger">
			<div id="canvas-basket">
				<basket-slider ng-reflect-basket="[object Object]">
					<div class="basket-slider">
						<div class="swiper-button-up swiper-button-disabled"></div>

						<div class="basket-items">
							<ks-swiper-container class="swiper-wrapper" ng-reflect-options="[object Object]">
								<div class="swiper-container swiper-container-vertical swiper-container-android">
						    		<div class="swiper-wrapper" style="transition-duration: 300ms;">
				      
										<!--bindings={
										  "ng-reflect-ng-for-of": "t_19036,m_18761,c_18702,r_1941"
										}-->
										<ks-swiper-slide class="swiper-slide item swiper-slide-active">
											<div>
												<div class="image">
													<img alt="" src="/upload/resize_cache/iblock/fda/70_70_2/fda1e7d187ada9d2162cba36f47cdae0.png">
												</div>
												<div class="name">Труба гладкая 16 мм</div>
												<div class="price">Цена: <span><span class="price_value">599</span><span class="price_currency"> руб.</span></span>/Штуку</div>
												<div class="count">
													Кол-во: 1
																		<!--bindings={
													  "ng-reflect-ng-if": "3000"
													}--><span> (x300 см)</span>
												</div>
											</div>
										</ks-swiper-slide>
										
										<ks-swiper-slide class="swiper-slide item">
											<div>
												<div class="image">
													<img alt="" src="/upload/resize_cache/iblock/fda/70_70_2/fda1e7d187ada9d2162cba36f47cdae0.png">
												</div>
												<div class="name">Труба гладкая 16 мм</div>
												<div class="price">Цена: <span><span class="price_value">599</span><span class="price_currency"> руб.</span></span>/Штуку</div>
												<div class="count">
													Кол-во: 1
																		<!--bindings={
													  "ng-reflect-ng-if": "3000"
													}--><span> (x300 см)</span>
												</div>
											</div>
										</ks-swiper-slide>

										<ks-swiper-slide class="swiper-slide item">
											<div>
												<div class="image">
													<img alt="" src="/upload/resize_cache/iblock/fda/70_70_2/fda1e7d187ada9d2162cba36f47cdae0.png">
												</div>
												<div class="name">Труба гладкая 16 мм</div>
												<div class="price">Цена: <span><span class="price_value">599</span><span class="price_currency"> руб.</span></span>/Штуку</div>
												<div class="count">
													Кол-во: 1
																		<!--bindings={
													  "ng-reflect-ng-if": "3000"
													}--><span> (x300 см)</span>
												</div>
											</div>
										</ks-swiper-slide>

										<ks-swiper-slide class="swiper-slide item">
											<div>
												<div class="image">
													<img alt="" src="/upload/resize_cache/iblock/fda/70_70_2/fda1e7d187ada9d2162cba36f47cdae0.png">
												</div>
												<div class="name">Труба гладкая 16 мм</div>
												<div class="price">Цена: <span><span class="price_value">599</span><span class="price_currency"> руб.</span></span>/Штуку</div>
												<div class="count">
													Кол-во: 1
																		<!--bindings={
													  "ng-reflect-ng-if": "3000"
													}--><span> (x300 см)</span>
												</div>
											</div>
										</ks-swiper-slide>
							
									</div>
							   	<div class="swiper-pagination"></div>
						  		</div>
						  	</ks-swiper-container>

							<div class="swiper-scrollbar" style="opacity: 0; transition-duration: 400ms; display: none;">
								<div class="swiper-scrollbar-drag" style="transition-duration: 300ms; height: 0px;"></div>
							</div>
						</div>
					<div class="swiper-button-down swiper-button-disabled"></div>
				</div>
			</basket-slider>
			<a class="buy goto">
				Купить этот карниз<br>
				<span class="total-sum">2136 руб.</span>
			</a>
		</div>

		<a class="navigation prev active"></a>
		<a class="navigation next active"></a>

	</div>
</div>
	
	

	<div class="colors">
		<!--bindings={
	  	"ng-reflect-ng-for-of": "[object Object],[object Object"
		}-->
		<a class="color-box Антик active" id="90d02b96-7c3f-11e7-a9bb-000c290d7f42"><img src="/upload/uf/2ef/2ef33ee15fe1fa7c89990bb16ebbf1a9.jpg" alt="Антик" title="Антик"></a>
		<a class="color-box Антик" id="90d02b96-7c3f-11e7-a9bb-000c290d7f42"><img src="/upload/uf/2ef/2ef33ee15fe1fa7c89990bb16ebbf1a9.jpg" alt="Антик" title="Антик"></a>
		<a class="color-box Антик" id="90d02b96-7c3f-11e7-a9bb-000c290d7f42"><img src="/upload/uf/2ef/2ef33ee15fe1fa7c89990bb16ebbf1a9.jpg" alt="Антик" title="Антик"></a>
		<a class="color-box Антик" id="90d02b96-7c3f-11e7-a9bb-000c290d7f42"><img src="/upload/uf/2ef/2ef33ee15fe1fa7c89990bb16ebbf1a9.jpg" alt="Антик" title="Антик"></a>
		<a class="color-box Антик" id="90d02b96-7c3f-11e7-a9bb-000c290d7f42"><img src="/upload/uf/2ef/2ef33ee15fe1fa7c89990bb16ebbf1a9.jpg" alt="Антик" title="Антик"></a>
		<a class="color-box Антик" id="90d02b96-7c3f-11e7-a9bb-000c290d7f42"><img src="/upload/uf/2ef/2ef33ee15fe1fa7c89990bb16ebbf1a9.jpg" alt="Антик" title="Антик"></a>
		<a class="color-box Антик" id="90d02b96-7c3f-11e7-a9bb-000c290d7f42"><img src="/upload/uf/2ef/2ef33ee15fe1fa7c89990bb16ebbf1a9.jpg" alt="Антик" title="Антик"></a>
		<a class="color-box Антик" id="90d02b96-7c3f-11e7-a9bb-000c290d7f42"><img src="/upload/uf/2ef/2ef33ee15fe1fa7c89990bb16ebbf1a9.jpg" alt="Антик" title="Антик"></a>
		<a class="color-box Антик" id="90d02b96-7c3f-11e7-a9bb-000c290d7f42"><img src="/upload/uf/2ef/2ef33ee15fe1fa7c89990bb16ebbf1a9.jpg" alt="Антик" title="Антик"></a>
		<a class="color-box Антик" id="90d02b96-7c3f-11e7-a9bb-000c290d7f42"><img src="/upload/uf/2ef/2ef33ee15fe1fa7c89990bb16ebbf1a9.jpg" alt="Антик" title="Антик"></a>
		<a class="color-box Антик" id="90d02b96-7c3f-11e7-a9bb-000c290d7f42"><img src="/upload/uf/2ef/2ef33ee15fe1fa7c89990bb16ebbf1a9.jpg" alt="Антик" title="Антик"></a>
		<a class="color-box Антик" id="90d02b96-7c3f-11e7-a9bb-000c290d7f42"><img src="/upload/uf/2ef/2ef33ee15fe1fa7c89990bb16ebbf1a9.jpg" alt="Антик" title="Антик"></a>
		<a class="color-box Антик" id="90d02b96-7c3f-11e7-a9bb-000c290d7f42"><img src="/upload/uf/2ef/2ef33ee15fe1fa7c89990bb16ebbf1a9.jpg" alt="Антик" title="Антик"></a>
		<a class="color-box Антик" id="90d02b96-7c3f-11e7-a9bb-000c290d7f42"><img src="/upload/uf/2ef/2ef33ee15fe1fa7c89990bb16ebbf1a9.jpg" alt="Антик" title="Антик"></a>
	</div>
	
	<div class="construct-options">
		<div class="panel">
			<div class="panel-header">
				<h3>Выберите форму трубы:</h3>
				<div class="tube-forms">
					<a class="cb-btn active" id="30069">Гладкая</a><a class="cb-btn" id="30072">Профиль</a><a class="cb-btn" id="30070">Рифленая</a><a class="cb-btn" id="30071">Твистер</a>
				</div>
			</div>
			<div class="panel-body">
				<items-slider ng-reflect-swiper-items="[object Object],[object Object" ng-reflect-cornice-item-id="9d4e3524-7c3e-11e7-a9bb-000c29">
					<div class="ks-swiper-container swiper-container-horizontal">
						<ks-swiper-container class="swiper-wrapper" ng-reflect-options="[object Object]">
							<div class="swiper-container swiper-container-horizontal swiper-container-android">
							   <div class="swiper-wrapper">
									<ks-swiper-slide class="swiper-slide list-item swiper-slide-active active" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42 | 9d4e3524-7c3e-11e7-a9bb-000c290d7f42">
										<div>
											<img src="/upload/iblock/b5b/b5bd20dcc4bd1f5f7006555152d72d08.png" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42" alt="16" title="16">
											<div class="text">
												<span>16</span>
											</div>
										</div>
									</ks-swiper-slide>
									<ks-swiper-slide class="swiper-slide list-item" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42 | 9d4e3524-7c3e-11e7-a9bb-000c290d7f42">
										<div>
											<img src="/upload/iblock/b5b/b5bd20dcc4bd1f5f7006555152d72d08.png" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42" alt="16" title="16">
											<div class="text">
												<span>16</span>
											</div>
										</div>
									</ks-swiper-slide>
									<ks-swiper-slide class="swiper-slide list-item" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42 | 9d4e3524-7c3e-11e7-a9bb-000c290d7f42">
										<div>
											<img src="/upload/iblock/b5b/b5bd20dcc4bd1f5f7006555152d72d08.png" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42" alt="16" title="16">
											<div class="text">
												<span>16</span>
											</div>
										</div>
									</ks-swiper-slide>
									<ks-swiper-slide class="swiper-slide list-item" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42 | 9d4e3524-7c3e-11e7-a9bb-000c290d7f42">
										<div>
											<img src="/upload/iblock/b5b/b5bd20dcc4bd1f5f7006555152d72d08.png" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42" alt="16" title="16">
											<div class="text">
												<span>16</span>
											</div>
										</div>
									</ks-swiper-slide>
									<ks-swiper-slide class="swiper-slide list-item" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42 | 9d4e3524-7c3e-11e7-a9bb-000c290d7f42">
										<div>
											<img src="/upload/iblock/b5b/b5bd20dcc4bd1f5f7006555152d72d08.png" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42" alt="16" title="16">
											<div class="text">
												<span>16</span>
											</div>
										</div>
									</ks-swiper-slide>
									<ks-swiper-slide class="swiper-slide list-item" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42 | 9d4e3524-7c3e-11e7-a9bb-000c290d7f42">
										<div>
											<img src="/upload/iblock/b5b/b5bd20dcc4bd1f5f7006555152d72d08.png" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42" alt="16" title="16">
											<div class="text">
												<span>16</span>
											</div>
										</div>
									</ks-swiper-slide>
							    </div>
						    <div class="swiper-pagination"></div>
						  </div>
						</ks-swiper-container>
						<div class="swiper-scrollbar" style="display: none; transition-duration: 400ms;">
							<div class="swiper-scrollbar-drag" style="transition-duration: 300ms; width: 0px;"></div>
						</div>
						<div class="swiper-button-prev swiper-button-disabled"></div>
						<div class="swiper-button-next swiper-button-disabled"></div>
					</div>
				</items-slider>

				<div class="tube-types-2">
					<h3>Выберите тип трубы 2-го ряда</h3>
					<items-slider ng-reflect-swiper-items="[object Object],[object Object" ng-reflect-cornice-item-id="9d4e3524-7c3e-11e7-a9bb-000c29">
						<div class="ks-swiper-container swiper-container-horizontal">
							<ks-swiper-container class="swiper-wrapper" ng-reflect-options="[object Object]">
								<div class="swiper-container swiper-container-horizontal swiper-container-android">
								   <div class="swiper-wrapper">
										<ks-swiper-slide class="swiper-slide list-item swiper-slide-active active" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42 | 9d4e3524-7c3e-11e7-a9bb-000c290d7f42">
											<div>
												<img src="/upload/iblock/b5b/b5bd20dcc4bd1f5f7006555152d72d08.png" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42" alt="16" title="16">
												<div class="text">
													<span>16</span>
												</div>
											</div>
										</ks-swiper-slide>
										<ks-swiper-slide class="swiper-slide list-item" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42 | 9d4e3524-7c3e-11e7-a9bb-000c290d7f42">
											<div>
												<img src="/upload/iblock/b5b/b5bd20dcc4bd1f5f7006555152d72d08.png" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42" alt="16" title="16">
												<div class="text">
													<span>16</span>
												</div>
											</div>
										</ks-swiper-slide>
										<ks-swiper-slide class="swiper-slide list-item" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42 | 9d4e3524-7c3e-11e7-a9bb-000c290d7f42">
											<div>
												<img src="/upload/iblock/b5b/b5bd20dcc4bd1f5f7006555152d72d08.png" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42" alt="16" title="16">
												<div class="text">
													<span>16</span>
												</div>
											</div>
										</ks-swiper-slide>
										<ks-swiper-slide class="swiper-slide list-item" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42 | 9d4e3524-7c3e-11e7-a9bb-000c290d7f42">
											<div>
												<img src="/upload/iblock/b5b/b5bd20dcc4bd1f5f7006555152d72d08.png" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42" alt="16" title="16">
												<div class="text">
													<span>16</span>
												</div>
											</div>
										</ks-swiper-slide>
										<ks-swiper-slide class="swiper-slide list-item" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42 | 9d4e3524-7c3e-11e7-a9bb-000c290d7f42">
											<div>
												<img src="/upload/iblock/b5b/b5bd20dcc4bd1f5f7006555152d72d08.png" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42" alt="16" title="16">
												<div class="text">
													<span>16</span>
												</div>
											</div>
										</ks-swiper-slide>
										<ks-swiper-slide class="swiper-slide list-item" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42 | 9d4e3524-7c3e-11e7-a9bb-000c290d7f42">
											<div>
												<img src="/upload/iblock/b5b/b5bd20dcc4bd1f5f7006555152d72d08.png" id="9d4e3524-7c3e-11e7-a9bb-000c290d7f42" alt="16" title="16">
												<div class="text">
													<span>16</span>
												</div>
											</div>
										</ks-swiper-slide>
								    </div>
							    <div class="swiper-pagination"></div>
							  </div>
							</ks-swiper-container>
							<div class="swiper-scrollbar" style="display: none; transition-duration: 400ms;">
								<div class="swiper-scrollbar-drag" style="transition-duration: 300ms; width: 0px;"></div>
							</div>
							<div class="swiper-button-prev swiper-button-disabled"></div>
							<div class="swiper-button-next swiper-button-disabled"></div>
						</div>
					</items-slider>
				</div>
			</div>
		</div>
	</div>

</section>

</cornice-parts-tubes>

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->


		



		<!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="panel-footer-arrow ng-tns-c0-0">
			<div class="navigation-wrap">
				<a class="navigation prev goto active" href="#">Назад</a>
				<a class="navigation next goto active" href="#">Далее</a>
			</div>
		</div>

		<!--bindings={}-->
	</div>

</section>

</cornice-rows>

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->

		
		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->


		



		<!--bindings={
  "ng-reflect-ng-if": "false"
}-->

		<!--bindings={}-->
	</div>
</section>


</cornice-app>

				</div>    
			</div><!-- .content -->

		</div><!-- .wrapper -->

	

</body>
</html>




